.topLayer {
    z-index: 9000;
}

#game_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #112133;    
    display: none;
}

.stopScroll {
	height: 100%;
	overflow: hidden;
}

iframe {
	width: 980px;
	height: 980px;
	position: absolute;
	top: 0;
	left: 20%;	
	display: block;	
	border: 0;
}

#flappy_bg {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #112133;
}
