@charset "UTF-8";
/*
0-600px Phone
600-900px Tablet portrait
900-1200px Tablet landscape
1200-1800 is our normal styles apply
1800px + Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
1em=16px

ORDER:base+typography > general layout + grid>page layout >components
*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  overflow: hidden; }

body {
  position: relative;
  background-color: #18052D;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 1024px) {
    body {
      overflow: hidden; } }
  @media (max-width: 1023px) {
    body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      overflow: hidden; } }

.container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1; }
  @media (min-width: 1024px) {
    .container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      height: 86vh;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; } }

.logo {
  width: 90%;
  text-align: center; }
  @media (min-width: 1024px) {
    .logo {
      margin-top: 80px;
      width: 50%;
      -ms-flex-item-align: start;
      align-self: flex-start; } }
  @media (max-width: 1023px) {
    .logo {
      margin-bottom: 40px; } }
  .logo img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 90%;
    max-width: 100%; }
    @media (min-width: 1024px) {
      .logo img {
        max-width: 700px;
        width: 80%; } }
  .logo p {
    font-size: 24px;
    color: #B8A3E4; }
    @media (min-width: 1024px) {
      .logo p {
        font-size: 30px; } }

.footer {
  width: 100%; }
  @media (min-width: 1024px) {
    .footer {
      position: absolute;
      left: 0;
      bottom: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.review {
  text-align: center;
  color: #fff; }
  @media (min-width: 1024px) {
    .review {
      width: 50%; } }
  .review__link {
    position: relative;
    display: inline-block;
    margin: 0 16px;
    color: #fff;
    line-height: 1; }
    .review__link:not(:last-child)::after {
      position: absolute;
      content: '';
      right: -16px;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: #fff; }
    @media (min-width: 1024px) {
      .review__link {
        font-size: 20px; } }

.fb-share {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2; }
  @media (min-width: 1024px) {
    .fb-share {
      right: 50px;
      top: 50px; } }
  @media (min-width: 1500px) {
    .fb-share {
      right: 80px;
      top: 80px; } }

body {
  font-family: "Helvetica Neue",Helvetica,Arial, '微軟正黑體', sans-serif;
  font-size: 16px;
  line-height: 1.6; }

a, a:link, a:visited {
  text-decoration: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.link-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 1024px) {
    .link-group {
      width: 50%; } }

.link-btn {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  display: block;
  width: 240px;
  height: 40px;
  margin-bottom: 40px;
  padding: 10px 10px 0px 90px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  border-radius: 50px;
  background-color: #7B65BF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  @media (min-width: 1024px) {
    .link-btn {
      width: 300px;
      height: 50px;
      margin-bottom: 60px;
      padding: 10px 10px 0px 114px;
      font-size: 24px; } }
  @media (min-width: 1500px) {
    .link-btn {
      margin-bottom: 80px; } }
  .link-btn__img {
    position: absolute;
    left: 10px;
    top: -18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 70px; }
    @media (min-width: 1024px) {
      .link-btn__img {
        top: -30px;
        width: 100px; } }
  .link-btn__wrap {
    display: block;
    height: 30px;
    overflow: hidden; }
  .link-btn__word {
    display: block;
    position: relative;
    top: 3px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .link-btn__en {
    display: block;
    font-size: 20px;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  @media (min-width: 1024px) {
    .link-btn:hover, .link-btn:focus {
      background-color: #8470c3; }
      .link-btn:hover .link-btn__word, .link-btn:focus .link-btn__word {
        opacity: 0;
        -webkit-transform: translateY(-44px);
        -ms-transform: translateY(-44px);
        transform: translateY(-44px); }
      .link-btn:hover .link-btn__en, .link-btn:focus .link-btn__en {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 1; }
    .link-btn:active {
      background-color: #725abb; } }

.space-group {
  position: absolute;
  left: 40%;
  top: 55%;
  -webkit-transform: translateY(-30%) rotate(-45deg) scale(0.5);
  -ms-transform: translateY(-30%) rotate(-45deg) scale(0.5);
  transform: translateY(-30%) rotate(-45deg) scale(0.5); }
  @media (min-width: 1024px) {
    .space-group {
      left: 20%;
      top: 60%;
      -webkit-transform: translateY(-30%) rotate(-45deg) scale(0.7);
      -ms-transform: translateY(-30%) rotate(-45deg) scale(0.7);
      transform: translateY(-30%) rotate(-45deg) scale(0.7); } }
  @media (min-width: 1366px) {
    .space-group {
      -webkit-transform: translateY(-30%) rotate(-45deg) scale(1);
      -ms-transform: translateY(-30%) rotate(-45deg) scale(1);
      transform: translateY(-30%) rotate(-45deg) scale(1); } }

.rocket {
  position: absolute;
  left: 10%;
  top: 35%;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }
  @media (min-width: 1024px) {
    .rocket {
      top: 30%; } }
  .rocket img {
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  @media (min-width: 1366px) {
    .rocket {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); } }

.rocket-line {
  position: absolute;
  right: 100%;
  top: 48%;
  display: block;
  width: 0;
  height: 10px;
  border-radius: 50px;
  background-color: #fff;
  -webkit-animation: line-move 1s .5s linear infinite;
  animation: line-move 1s .5s linear infinite;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .rocket-line::before, .rocket-line::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 10px;
    border-radius: 50px;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .rocket-line::before {
    right: -10px;
    top: 30px;
    -webkit-animation: line-move 1s linear infinite;
    animation: line-move 1s linear infinite; }
  .rocket-line::after {
    right: -20px;
    top: -30px;
    -webkit-animation: line-move 1s .2s linear infinite;
    animation: line-move 1s .2s linear infinite; }

@-webkit-keyframes line-move {
  30% {
    width: 0px;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    width: 110px;
    opacity: 0;
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px); } }

@keyframes line-move {
  30% {
    width: 0px;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    width: 110px;
    opacity: 0;
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px); } }

.stars {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200vw;
  width: 200vw;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg); }

.star-wrap {
  -webkit-animation: star-move 50s linear infinite;
  animation: star-move 50s linear infinite; }

.star,
.star:after {
  height: 200vh;
  width: 200vh;
  background-position: top right;
  background-image: url("../img/star.png"); }
  @media (min-width: 1024px) {
    .star,
    .star:after {
      height: 200vw;
      width: 200vw; } }

.star:after {
  display: block;
  content: '';
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  background-position: top left; }

@-webkit-keyframes star-move {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(-1920px, 0);
    transform: translate(-1920px, 0); } }

@keyframes star-move {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(-1920px, 0);
    transform: translate(-1920px, 0); } }

.planet-group {
  position: relative;
  min-height: 100vh;
  width: 100%; }

.planet-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }

.planet,
.planet:after {
  min-height: 880px;
  width: 3200px;
  background-position: top right; }

.planet:after {
  display: block;
  content: '';
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  background-position: top left; }

@-webkit-keyframes planet-move {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(-3200px, 0);
    transform: translate(-3200px, 0); } }

@keyframes planet-move {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(-3200px, 0);
    transform: translate(-3200px, 0); } }

.planet-wrap-1 {
  -webkit-animation: planet-move 16s linear infinite;
  animation: planet-move 16s linear infinite; }
  .planet-wrap-1 .planet,
  .planet-wrap-1 .planet:after {
    background-image: url(../img/planet1.png); }

.planet-wrap-2 {
  -webkit-animation: planet-move 14s linear infinite;
  animation: planet-move 14s linear infinite; }
  .planet-wrap-2 .planet,
  .planet-wrap-2 .planet:after {
    background-image: url(../img/planet2.png); }

.planet-wrap-3 {
  -webkit-animation: planet-move 12s linear infinite;
  animation: planet-move 12s linear infinite; }
  .planet-wrap-3 .planet,
  .planet-wrap-3 .planet:after {
    background-image: url(../img/planet3.png); }

@media (max-width: 1023px) {
  .post {
    margin: 0 15px; } }

@media (min-width: 1024px) {
  .post {
    padding-left: 20px;
    width: 50%;
    min-height: 40px;
    overflow: hidden; } }

@media (min-width: 1024px) {
  .post {
    padding-left: 40px; } }

@media (min-width: 1366px) {
  .post {
    padding-left: 60px; } }

@media (min-width: 1500px) {
  .post {
    padding-left: 100px; } }

.post__title {
  position: relative;
  width: 80px;
  padding: 2px 10px;
  font-size: 18px;
  color: #18052D;
  font-weight: 700;
  text-align: center;
  border-radius: 50px;
  background-color: #B8A3E4;
  z-index: 1; }
  @media (min-width: 1024px) {
    .post__title {
      width: 140px;
      padding: 6px 20px;
      font-size: 20px; } }
  @media (max-width: 1500px) {
    .post__title {
      display: none; } }

.post__content {
  position: relative;
  width: 90%;
  min-height: 70px;
  margin: 0 auto;
  overflow: hidden; }
  @media (min-width: 1024px) {
    .post__content {
      position: absolute;
      left: 40px;
      top: 0;
      width: 100%; } }
  @media (min-width: 1024px) {
    .post__content {
      left: 40px; } }
  @media (min-width: 1366px) {
    .post__content {
      left: 60px; } }
  @media (min-width: 1500px) {
    .post__content {
      left: 120px; } }

.post__word {
  position: absolute;
  left: 0;
  top: 0;
  padding: 6px 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: .4s 2s linear;
  -o-transition: .4s 2s linear;
  transition: .4s 2s linear;
  opacity: 0;
  visibility: hidden; }
  @media (min-width: 1024px) {
    .post__word {
      display: inline-block;
      padding: 6px 30px;
      font-size: 18px; } }
  @media (min-width: 1500px) {
    .post__word {
      padding-left: 140px;
      font-size: 20px; } }
  @media (max-width: 1023px) {
    .post__word {
      line-height: 1.4;
      width: 100%; } }
  .post__word.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
