<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Modern Web 2019</title>
    <meta property="og:url" content="https://modernweb.tw" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Modern Web 2019 ─ 技術在我們手上，世界就在我們手上" />
    <meta property="og:description" content="Modern Web 2019" />
    <meta property="og:image" content="https://modernweb.tw/img/fbimg.jpg" />
    <meta property="og:image:width" content="601" />
    <meta property="og:image:height" content="346" />
    <link rel="icon" type="image/png" href="img/favicon.ico?01" sizes="16x16">
    <!-- css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css?03">
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48349256-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-48349256-7');
    </script>
</head>

<body class="theme-bg-color">
    <!-- #modernWeb2019 -->
    <div id="modernweb2019">
        <!-- loading animation -->
        <!-- <div class="loading" id="loading">
        </div> -->
        <!-- end loading animation -->
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger navbar--logo" href="index.html">
                    <img src="img/logo.svg" class="img-fluid navbar-logo__img">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto nav-fill w-100 justify-content-end align-items-center">
                        <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="index.html">首頁</a></li> -->
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="tickets.html">報名購票</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="agenda.html">精彩議程</a></li>
                        <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="index.html#keynotes">主題演講</a></li> -->
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="index.html#keynotes">講者陣容</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="jobs.html">贊助商與徵才</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="event.html">場邊活動</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="dojo.html">技術傳道場</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="policy.html">行為守則</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">歷年回顧</a>
                            <div class="dropdown-menu text-center">
                                <a class="dropdown-item" href="https://modernweb.tw/2018/index.html" target="_blank">2018</a>
                                <a class="dropdown-item" href="https://modernweb.tw/2017/index.html" target="_blank">2017</a>
                                <a class="dropdown-item" href="https://modernweb.tw/2016/index.html" target="_blank">2016</a>
                                <a class="dropdown-item" href="https://modernweb.tw/2015/index.html" target="_blank">2015</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- end Navigation -->
        <section class="content content--kv" id="nav">
            <div class="content--kv--wrapper">
                <!-- <img src="img/content-kv.svg" alt="" class="img-fluid"> -->
                <div class="kv-head">
                    <h1 class="title deco-title-dk">議程</h1>
                    <h3 class="sub-title">agenda</h3>
                </div>
            </div>
        </section>
        <!-- day 1 -->
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="agenda__title">8/28 <span>Wed</span></h2>
                            </div>
                        </div>
                        <div class="bs-session-container">
                            <div class="row">
                                <div class="col-12 col-sm-2 bs-agenda__row-head">時間</div>
                                <div class="col-12 col-sm-10 bs-agenda__row-head">議程</div>
                            </div>
                            <template v-for="ss in sessionSortedByTime" v-if="findWhichDayOfEvent(ss.date,'28')">
                                <template v-if="ss['sessionOfSameTime'][0]['session_type'] == 'keynote'">
                                    <!-- keynote -->
                                    <div class="row bg-white">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <template v-for="sss in ss.sessionOfSameTime">
                                            <!-- for session without speaker -->
                                            <template v-if="sss.speaker.length == 0">
                                                <div class="col-12 col-sm-10 bs-session" data-toggle="modal" :data-target="'#se' + sss.session_id">
                                                    <div class="speaker-box speaker-box--keynote">
                                                        <div class="bs-session-content">
                                                            <div class="agenda__t-keynote-topic">
                                                                <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span>{{sss.title}}
                                                            </div>
                                                        </div>
                                                        <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                    </div>
                                                </div>
                                            </template>
                                            <!-- keynote session -->
                                            <template v-else v-for="speaker in sss.speaker">
                                                <div class="col-12 col-sm-10 bs-session" data-toggle="modal" :data-target="'#se' + sss.session_id">
                                                    <div class="speaker-box speaker-box--keynote">
                                                        <div class="bs-session-content">
                                                            <div class="agenda__t-keynote-topic"><span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{sss.title}}
                                                            </div>
                                                            <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                            <div class="agenda__t-keynote-name">
                                                                <div><img :src="speaker.avatar" alt="">
                                                                    <span>{{speaker.speaker}}</span>
                                                                    <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </template>
                                    </div>
                                    <!-- end of keynote-->
                                </template>
                                <!-- break -->
                                <template v-if="ss['sessionOfSameTime'][0]['session_type'] == 'break'">
                                    <div v-if="ss['sessionOfSameTime'][0]['title'] == 'Opening'" class="row bg-skin">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time bg-skin">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div v-for="sss in ss.sessionOfSameTime" class="col-12 col-sm-10 bs-session bg-skin">
                                            <div class=" ">
                                                <div class="bs-agenda__row-rest">
                                                    <div class="">{{sss.title}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else class="row bg-light-blue">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time bg-light-blue">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div v-for="sss in ss.sessionOfSameTime" class="col-12 col-sm-10 bs-session bg-light-blue">
                                            <div class=" ">
                                                <div class="bs-agenda__row-rest">
                                                    <div class="">{{sss.title}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <!-- end of break -->
                                <template v-if="ss['sessionOfSameTime'][0]['session_id'] == '6406'">
                                    <!-- track header-->
                                    <div class="row bg-white hidden-xs">
                                        <div class="col-12 col-sm-2 "></div>
                                        <div class="col-12 col-sm-10">
                                            <div class="row ">
                                                <div class="col-12 col-sm-25  bg-gray">
                                                    <div class="agenda__t-track text-center">Track A -101AB <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-white">
                                                    <div class="agenda__t-track text-center">Track B -101CD <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-gray">
                                                    <div class="agenda__t-track text-center">Track C -102 <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-white">
                                                    <div class="agenda__t-track text-center">Track D -103 <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-gray">
                                                    <div class="agenda__t-track text-center">Track E -105 <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of track header -->
                                </template>
                                <!-- five tracks -->
                                <template v-if="ss.sessionOfSameTime.length !== 1">
                                    <div class="row bg-white">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time">
                                            {{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div class="col-12 col-sm-10">
                                            <div class="row agenda-row">
                                                <template v-for="sss in ss.sessionOfSameTime">
                                                    <template v-for="speaker in sss.speaker">
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track bg-gray" v-if="sss.track == 'Track A'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">101AB</span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <span class="session-download" v-if="!!sss.download_link">
                                                                    <span> <a :href="sss.download_link">
                                                                            <i class="fa fa-file-pdf" aria-hidden="true"> </i>
                                                                            <span>會議簡報</span>
                                                                        </a></span>
                                                                </span>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track " v-if="sss.track == 'Track B'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">101CD</span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <span class="session-download" v-if="!!sss.download_link">
                                                                    <span> <a :href="sss.download_link">
                                                                            <i class="fa fa-file-pdf" aria-hidden="true"> </i>
                                                                            <span>會議簡報</span>
                                                                        </a></span>
                                                                </span>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track bg-gray" v-if="sss.track == 'Track C'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">102</span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <span class="session-download" v-if="!!sss.download_link">
                                                                    <span> <a :href="sss.download_link">
                                                                            <i class="fa fa-file-pdf" aria-hidden="true"> </i>
                                                                            <span>會議簡報</span>
                                                                        </a></span>
                                                                </span>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track" v-if="sss.track == 'Track D'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">103</span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <span class="session-download" v-if="!!sss.download_link">
                                                                    <span> <a :href="sss.download_link">
                                                                            <i class="fa fa-file-pdf" aria-hidden="true"> </i>
                                                                            <span>會議簡報</span>
                                                                        </a></span>
                                                                </span>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track bg-gray" v-if="sss.track == 'Track E'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">105</span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <span class="session-download" v-if="!!sss.download_link">
                                                                    <span> <a :href="sss.download_link">
                                                                            <i class="fa fa-file-pdf" aria-hidden="true"> </i>
                                                                            <span>會議簡報</span>
                                                                        </a></span>
                                                                </span>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <!-- end of five tracks -->
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- day2  -->
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <h2 class="agenda__title">8/29 <span>Thu</span></h2>
                            </div>
                        </div>
                        <div class="bs-session-container">
                            <div class="row">
                                <div class="col-12 col-sm-2 bs-agenda__row-head">時間</div>
                                <div class="col-12 col-sm-10 bs-agenda__row-head">議程</div>
                            </div>
                            <template v-for="ss in sessionSortedByTime" v-if="findWhichDayOfEvent(ss.date,'29')">
                                <template v-if="ss['sessionOfSameTime'][0]['session_type'] == 'keynote'">
                                    <!-- keynote -->
                                    <div class="row bg-white">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <template v-for="sss in ss.sessionOfSameTime">
                                            <!-- for session without speaker -->
                                            <template v-if="sss.speaker.length == 0">
                                                <div class="col-12 col-sm-10 bs-session" data-toggle="modal" :data-target="'#se' + sss.session_id">
                                                    <div class="speaker-box speaker-box--keynote">
                                                        <div class="bs-session-content">
                                                            <div class="agenda__t-keynote-topic">
                                                                <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span>{{sss.title}}
                                                            </div>
                                                            <span class="session-download" v-if="!!sss.download_link">
                                                                <span> <a :href="sss.download_link">
                                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>
                                                                        <span>會議簡報</span>
                                                                    </a></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                            <!-- keynote session -->
                                            <template v-else v-for="speaker in sss.speaker">
                                                <div class="col-12 col-sm-10 bs-session" data-toggle="modal" :data-target="'#se' + sss.session_id">
                                                    <div class="speaker-box speaker-box--keynote">
                                                        <div class="bs-session-content">
                                                            <div class="agenda__t-keynote-topic"><span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{sss.title}}
                                                            </div>
                                                            <span class="session-download" v-if="!!sss.download_link">
                                                                <span> <a :href="sss.download_link">
                                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>
                                                                        <span>會議簡報</span>
                                                                    </a></span>
                                                            </span>
                                                            <div class="agenda__t-keynote-name">
                                                                <div><img :src="speaker.avatar" alt="">
                                                                    <span>{{speaker.speaker}}</span>
                                                                    <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </template>
                                    </div>
                                    <!-- end of keynote-->
                                </template>
                                <!-- break -->
                                <template v-if="ss['sessionOfSameTime'][0]['session_type'] == 'break'">
                                    <div v-if="ss['sessionOfSameTime'][0]['title'] == 'Opening'" class="row bg-skin">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time bg-skin">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div v-for="sss in ss.sessionOfSameTime" class="col-12 col-sm-10 bs-session bg-skin">
                                            <div class=" ">
                                                <div class="bs-agenda__row-rest">
                                                    <div class="">{{sss.title}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else class="row bg-light-blue">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time bg-light-blue">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div v-for="sss in ss.sessionOfSameTime" class="col-12 col-sm-10 bs-session bg-light-blue">
                                            <div class=" ">
                                                <div class="bs-agenda__row-rest">
                                                    <div class="">{{sss.title}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <!-- end of break -->
                                <template v-if="ss['sessionOfSameTime'][0]['session_id'] == '6399'">
                                    <!-- track tag-->
                                    <div class="row bg-white hidden-xs">
                                        <div class="col-12 col-sm-2 "></div>
                                        <div class="col-12 col-sm-10">
                                            <div class="row ">
                                                <div class="col-12 col-sm-25  bg-gray">
                                                    <div class="agenda__t-track text-center">Track A -101AB <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-white">
                                                    <div class="agenda__t-track text-center">Track B -101CD <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-gray">
                                                    <div class="agenda__t-track text-center">Track C -102 <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-white">
                                                    <div class="agenda__t-track text-center">Track D -103 <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-gray">
                                                    <div class="agenda__t-track text-center">Track E -105 <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of track tag -->
                                </template>
                                <!-- five tracks -->
                                <template v-if="ss.sessionOfSameTime.length !== 1">
                                    <div class="row bg-white">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time">
                                            {{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div class="col-12 col-sm-10">
                                            <div class="row agenda-row">
                                                <template v-for="sss in ss.sessionOfSameTime">
                                                    <template v-for="speaker in sss.speaker">
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track bg-gray" v-if="sss.track == 'Track A'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">101AB</span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <span class="session-download" v-if="!!sss.download_link">
                                                                    <span> <a :href="sss.download_link">
                                                                            <i class="fa fa-file-pdf" aria-hidden="true"> </i>
                                                                            <span>會議簡報</span>
                                                                        </a></span>
                                                                </span>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }} {{ speaker.department }} {{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track " v-if="sss.track == 'Track B'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">101CD</span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <span class="session-download" v-if="!!sss.download_link">
                                                                    <span> <a :href="sss.download_link">
                                                                            <i class="fa fa-file-pdf" aria-hidden="true"> </i>
                                                                            <span>會議簡報</span>
                                                                        </a></span>
                                                                </span>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track bg-gray" v-if="sss.track == 'Track C'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">102</span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <span class="session-download" v-if="!!sss.download_link">
                                                                    <span> <a :href="sss.download_link">
                                                                            <i class="fa fa-file-pdf" aria-hidden="true"> </i>
                                                                            <span>會議簡報</span>
                                                                        </a></span>
                                                                </span>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track" v-if="sss.track == 'Track D'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">103</span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <span class="session-download" v-if="!!sss.download_link">
                                                                    <span> <a :href="sss.download_link">
                                                                            <i class="fa fa-file-pdf" aria-hidden="true"> </i>
                                                                            <span>會議簡報</span>
                                                                        </a></span>
                                                                </span>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track bg-gray" v-if="sss.track == 'Track E'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">105</span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <span class="session-download" v-if="!!sss.download_link">
                                                                    <span> <a :href="sss.download_link">
                                                                            <i class="fa fa-file-pdf" aria-hidden="true"> </i>
                                                                            <span>會議簡報</span>
                                                                        </a></span>
                                                                </span>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <!-- end of five tracks -->
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section modal -->
        <section>
            <template v-for="ss in sessionSortedByTime">
                <template v-for="sss in ss.sessionOfSameTime">
                    <template v-for="speaker in sss.speaker">
                        <!-- modal -->
                        <div class="modal fade speaker-modal" :id="'se' + sss.session_id" tabindex="-1" role="dialog" aria-labelledby="speaker01Label">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body row">
                                        <div class="col-sm-12 col-xs-12 row speaker-brief__top">
                                            <div class="col-sm-4">
                                                <img :src="speaker.avatar" alt="" class="rounded-circle img-fluid">
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="speaker-box__name">
                                                    {{speaker.speaker}}
                                                </div>
                                                <div class="speaker-box__title">
                                                    {{ speaker.company }}
                                                    <br> {{ speaker.department }}{{ speaker.position }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12 speaker-brief__bottom">
                                            <ul class="list-inline nav nav-tabs">
                                                <li class="active tabSession">
                                                    <a class="tab" :href="'#sessionModalAgenda'+sss.session_id" data-toggle="tab">議程介紹</a>
                                                </li>
                                                <li class="tabSpeaker">
                                                    <a class="tab" :href="'#sessionModalIntro'+sss.session_id" data-toggle="tab">講師簡介</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" :id="'sessionModalAgenda'+sss.session_id" class="tabSession tab-pane in active">
                                                    <div class="speaker-brief__agenda">
                                                        <div class="speaker-brief__agenda-content overflow-y">
                                                            <p><b class="h3">{{ sss.title }}</b></p>
                                                            <p v-html="sss.summary"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" :id="'sessionModalIntro'+sss.session_id" class="tabSpeaker tab-pane">
                                                    <div class="speaker-brief__intro overflow-y">
                                                        <p v-html="speaker.profile"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of modal -->
                    </template>
                    <!-- modal for session without speaker -->
                    <tempalte v-if="sss.speaker.length === 0">
                        <!-- modal -->
                        <div class="modal fade speaker-modal" :id="'se' + sss.session_id" tabindex="-1" role="dialog" aria-labelledby="speaker01Label">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body row">
                                        <div class="col-sm-12 col-xs-12 row speaker-brief__top">
                                            <div class="col-sm-4">
                                                <img src="" alt="" class="rounded-circle img-fluid">
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="speaker-box__name">
                                                </div>
                                                <div class="speaker-box__title">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12 speaker-brief__bottom">
                                            <ul class="list-inline" role="tablist">
                                                <li role="presentation" class="active tabSession">
                                                    <a class="tab" :data-target="'#sessionModalAgenda'+sss.session_id" :aria-controls="'#sessionModalAgenda'+sss.session_id" role="tab" data-toggle="tab">議程介紹</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" :id="'sessionModalAgenda'+sss.session_id" class="tab-pane active">
                                                    <div class="speaker-brief__agenda">
                                                        <div class="speaker-brief__agenda-content overflow-y">
                                                            <p><b class="h3">{{ sss.title }}</b></p>
                                                            <p v-html="sss.summary"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" :id="'sessionModalIntro'+sss.session_id" class="tab-pane">
                                                    <div class="speaker-brief__intro overflow-y">
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of modal -->
                    </tempalte>
                </template>
            </template>
        </section>
        <footer class="content footer">
            <div class="footer--wave"></div>
            <img src="img/footer-bg-star.svg" class="img-fluid footer--deco--star--l">
            <img src="img/footer-shine.svg" class="img-fluid footer--deco--shine--l">
            <img src="img/footer-bg-star.svg" class="img-fluid footer--deco--star--r">
            <img src="img/footer-shine.svg" class="img-fluid footer--deco--shine--r">
            <img src="img/footer-bg-planet.svg" class="img-fluid footer--deco--planet">
            <img src="img/footer-alien.svg" class="img-fluid footer--deco--alien">
            <div class="container">
                <div class="row">
                    <div class="col-12 footer--logo">
                        <img src="img/logo.svg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-12 footer--desc">
                        <ul class="">
                            <li class="footer--desc--li">會議時間：2019年8月28日(三) - 29日(四)</li>
                            <li class="footer--desc--li">會議地點：TICC 臺北國際會議中心</li>
                            <li class="footer--desc--li">客服專線：02-25622880 #3622 開小姐
                                （ 週一至週五，上午 10:30 ~ 12:00，下午 1:30 ~ 5:30 ）</li>
                            <li class="footer--desc--li">客服信箱：<a href="mailto:service@mail.ithome.com.tw">service@mail.ithome.com.tw </a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="footer--fbshare">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com/modernweb.tw/%2F&amp;tabs&amp;width=340&amp;height=154&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="340" height="124" scrolling="no" frameborder="0" allowtransparency="true" style="border:none;overflow:hidden"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end #modernWeb2019 -->
</body>
<!-- JavaScript -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/confapi.js" data-nid="6270"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script> -->
<script type="text/javascript" src="js/modernweb2019.js?0701"></script>
<script type="text/javascript" src="js/main.js"></script>

</html>