<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Modern web 2018</title>
    <meta property="og:url" content="https://modernweb.tw" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Modern Web 2018 ─ 技術在我們手上，世界就在我們手上" />
    <meta property="og:description" content="Modern Web 2018將在7/18-19兩日，邀集來自世界各地頂尖的 Web 開發者，分享他們的技術觀點，帶來最新、最深入的分享。最豐盛而精彩的技術與交流盛會，就在Modern Web 2018" />
    <meta property="og:image" content="https://modernweb.tw/img/fbimg2018.jpg" />
    <meta property="og:image:width" content="601" />
    <meta property="og:image:height" content="346" />
    <link rel="icon" type="image/png" href="img/favicon.ico?00779" sizes="16x16">
    <link rel="stylesheet" href="css/vendor/normalize.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min-3.3.7.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="game/flappy/style.css">
    <link rel="stylesheet" href="game/sinuous/style.css">
    <link rel="stylesheet" href="game/alien/style.css">
    <link rel="stylesheet" href="css/main.css?312654687987">
    <link rel="stylesheet" type="text/css" href="css/setting.css?312654687987">
    <link rel="stylesheet" type="text/css" href="css/rwd.css?312654687987">
    <link rel="stylesheet" type="text/css" href="css/kv.css?312654687987">
    <link rel="stylesheet" href="css/agenda.css?162341230876344947">
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48349256-7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-48349256-7');
    </script>
</head>

<body>
    <div id="modernweb2018">
        <div class="bg--content"></div>
        <header class="header">
            <nav class="container navbar navbar-inverse">
                <!-- logo  -->
                <div class="navbar-header">
                    <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navtop">
                        <span class="sr-only"></span>
                        <span class="icol-bar icol-bar-a"></span>
                        <span class="icol-bar icol-bar-a"></span>
                        <span class="icol-bar icol-bar-a"></span>
                    </a>
                    <a class="navbar-logobox" href="index.html">
                        <img src="img/logo.svg" alt="">
                    </a>
                </div>
                <!-- logo end -->
                <!-- nav -->
                <div class="collapse navbar-collapse" id="navtop">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">首頁</a></li>
                        <li><a href="index.html#speaker">講者</a></li>
                        <li><a href="index.html#feature">2018特色</a></li>
                        <li><a href="index.html#workshop">實戰工作坊</a></li>
                        <li><a href="index.html#ticket">售票</a></li>
                        <li><a href="agenda.html">議程</a></li>
                        <li><a href="event.html">場邊活動</a></li>
                        <li class="hidden-sm-down">
                            <div class="dropdown hidden-sm-down">
                                <a class="btn dropdown-toggle hidden-sm-down" type="" data-toggle="dropdown">歷年回顧
                                  <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://modernweb.tw/2017/index.html" target="_blank">2017</a></li>
                                    <li><a href="https://modernweb.tw/2016/index.html" target="_blank">2016</a></li>
                                    <li><a href="https://modernweb.tw/2015/index.html" target="_blank">2015</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="visible-sm-down"><a href="https://modernweb.tw/2017/index.html" target="_blank" class="visible-sm-up">回顧 2017</a></li>
                        <li class="visible-sm-down"><a href="https://modernweb.tw/2016/index.html" target="_blank" class="visible-sm-up">回顧 2016</a></li>
                        <li class="visible-sm-down"><a href="https://modernweb.tw/2015/index.html" target="_blank" class="visible-sm-up">回顧 2015</a></li>
                    </ul>
                </div>
                <!-- nav end -->
            </nav>
        </header>
        <section class="section--kv--content">
            <div class="kv-head">
                <h2 class="title">議程表</h2>
            </div>
        </section>
  
        <!-- day 1 -->
       <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="agenda__title">7/18 <span>Wed</span></h2>
                            </div>
                        </div>
                        <div class="bs-session-container">
                            <div class="row">
                                <div class="col-sm-2 bs-session-header">時間</div>
                                <div class="col-sm-10 bs-session-header">議程</div>
                            </div>
                            <template v-for="ss in sessionSortedByTime" v-if="findWhichDayOfEvent(ss.date,'18')">
                                <template v-if="ss['sessionOfSameTime'][0]['session_type'] == 'keynote'">
                                    <!-- keynote -->
                                    <div class="row bg-white">
                                        <div class="col-sm-2 bs-session-time">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <template v-for="sss in ss.sessionOfSameTime">
                                            <!-- for session without speaker -->
                                            <template v-if="sss.speaker.length == 0">
                                                <div class="col-sm-10 bs-session" data-toggle="modal" :data-target="'#se' + sss.session_id">
                                                    <div class="speaker-box speaker-box--keynote">
                                                        <div class="bs-session-content">
                                                            <div class="agenda__t-keynote-topic">
                                                                <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span>{{sss.title}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                            <!-- keynote session -->
                                            <template v-else v-for="speaker in sss.speaker">
                                                <div class="col-sm-10 bs-session" data-toggle="modal" :data-target="'#se' + sss.session_id">
                                                    <div class="speaker-box speaker-box--keynote">
                                                        <div class="bs-session-content">
                                                            <div class="agenda__t-keynote-topic"><span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{sss.title}}
                                                            </div>
                                                            <div class="agenda__t-keynote-name">
                                                                <div><img :src="speaker.avatar" alt="">
                                                                    <span>{{speaker.speaker}}</span>
                                                                    <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </template>
                                    </div>
                                    <!-- end of keynote-->
                                </template>
                                <!-- break -->
                                <template v-if="ss['sessionOfSameTime'][0]['session_type'] == 'break'">
                                    <div v-if="ss['sessionOfSameTime'][0]['title'] == 'Opening'" class="row bg-yellow">
                                        <div class="col-sm-2 bs-session-time bg-yellow">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div v-for="sss in ss.sessionOfSameTime" class="col-sm-10 bs-session bg-yellow" >
                                            <div class=" ">
                                                <div class="bs-session-content-rest">
                                                    <div class="">{{sss.title}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else class="row bg-purple">
                                        <div class="col-sm-2 bs-session-time bg-purple">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div v-for="sss in ss.sessionOfSameTime" class="col-sm-10 bs-session bg-purple" >
                                            <div class=" ">
                                                <div class="bs-session-content-rest">
                                                    <div class="">{{sss.title}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <!-- end of break -->
                                <template v-if="ss['sessionOfSameTime'][0]['session_id'] == '3614'">
                                    <!-- track header-->
                                    <div class="row bg-white agenda-track-header-hide">
                                        <div class="col-sm-2 "></div>
                                        <div class="col-sm-10">
                                            <div class="row ">
                                                <div class="col-sm-3  bg-gray">
                                                    <div class="agenda__t-track text-center">Track A <i aria-hidden="true " class="fa fa-map-marker"></i> </div>
                                                </div>
                                                <div class="col-sm-3  bg-white">
                                                    <div class="agenda__t-track text-center">Track B <i aria-hidden="true " class="fa fa-map-marker"></i> </div>
                                                </div>
                                                <div class="col-sm-3  bg-gray">
                                                    <div class="agenda__t-track text-center">Track C <i aria-hidden="true " class="fa fa-map-marker"></i> </div>
                                                </div>
                                                <div class="col-sm-3  bg-white">
                                                    <div class="agenda__t-track text-center">Track D <i aria-hidden="true " class="fa fa-map-marker"></i> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of track header -->
                                </template>
                                <!-- four tracks -->
                                <template v-if="ss.sessionOfSameTime.length !== 1">
                                    <div class="row bg-white">
                                        <div class="col-sm-2 bs-session-time">
                                            {{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="row agenda-row">
                                                <template v-for="sss in ss.sessionOfSameTime">
                                                    <template v-for="speaker in sss.speaker">
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-sm-3  be-session-track bg-gray" v-if="sss.track == 'Track A'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track a </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-sm-3  be-session-track " v-if="sss.track == 'Track B'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track b </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-sm-3  be-session-track bg-gray" v-if="sss.track == 'Track C'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track c </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-sm-3  be-session-track" v-if="sss.track == 'Track D'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track d </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <!-- end of four tracks -->
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- day2  -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="agenda__title">7/19 <span>Thu</span></h2>
                            </div>
                        </div>
                        <div class="bs-session-container">
                            <div class="row">
                                <div class="col-sm-2 bs-session-header">時間</div>
                                <div class="col-sm-10 bs-session-header">議程</div>
                            </div>
                            <template v-for="ss in sessionSortedByTime" v-if="findWhichDayOfEvent(ss.date,'19')">
                                <template v-if="ss['sessionOfSameTime'][0]['session_type'] == 'keynote'">
                                    <!-- keynote -->
                                    <div class="row bg-white">
                                        <div class="col-sm-2 bs-session-time">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <template v-for="sss in ss.sessionOfSameTime">
                                            <!-- for session without speaker -->
                                            <template v-if="sss.speaker.length == 0">
                                                <div class="col-sm-10 bs-session" data-toggle="modal" :data-target="'#se' + sss.session_id">
                                                    <div class="speaker-box speaker-box--keynote">
                                                        <div class="bs-session-content">
                                                            <div class="agenda__t-keynote-topic">
                                                                <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span>{{sss.title}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                            <!-- keynote session -->
                                            <template v-else v-for="speaker in sss.speaker">
                                                <div class="col-sm-10 bs-session" data-toggle="modal" :data-target="'#se' + sss.session_id">
                                                    <div class="speaker-box speaker-box--keynote">
                                                        <div class="bs-session-content">
                                                            <div class="agenda__t-keynote-topic"><span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{sss.title}}
                                                            </div>
                                                            <div class="agenda__t-keynote-name">
                                                                <div><img :src="speaker.avatar" alt="">
                                                                    <span>{{speaker.speaker}}</span>
                                                                    <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </template>
                                    </div>
                                    <!-- end of keynote-->
                                </template>
                                <!-- break -->
                                <template v-if="ss['sessionOfSameTime'][0]['session_type'] == 'break'">
                                    <div v-if="ss['sessionOfSameTime'][0]['title'] == 'Opening'" class="row bg-yellow">
                                        <div class="col-sm-2 bs-session-time bg-yellow">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div v-for="sss in ss.sessionOfSameTime" class="col-sm-10 bs-session bg-yellow" >
                                            <div class=" ">
                                                <div class="bs-session-content-rest">
                                                    <div class="">{{sss.title}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else class="row bg-purple">
                                        <div class="col-sm-2 bs-session-time bg-purple">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div v-for="sss in ss.sessionOfSameTime" class="col-sm-10 bs-session bg-purple" >
                                            <div class=" ">
                                                <div class="bs-session-content-rest">
                                                    <div class="">{{sss.title}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <!-- end of break -->
                                <template v-if="ss['sessionOfSameTime'][0]['session_id'] == '3627'">
                                    <!-- track header-->
                                    <div class="row bg-white agenda-track-header-hide">
                                        <div class="col-sm-2 "></div>
                                        <div class="col-sm-10">
                                            <div class="row ">
                                                <div class="col-sm-3  bg-gray">
                                                    <div class="agenda__t-track text-center">Track A <i aria-hidden="true " class="fa fa-map-marker"></i> </div>
                                                </div>
                                                <div class="col-sm-3  bg-white">
                                                    <div class="agenda__t-track text-center">Track B <i aria-hidden="true " class="fa fa-map-marker"></i> </div>
                                                </div>
                                                <div class="col-sm-3  bg-gray">
                                                    <div class="agenda__t-track text-center">Track C <i aria-hidden="true " class="fa fa-map-marker"></i> </div>
                                                </div>
                                                <div class="col-sm-3  bg-white">
                                                    <div class="agenda__t-track text-center">Track D <i aria-hidden="true " class="fa fa-map-marker"></i> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of track header -->
                                </template>
                                <!-- four tracks -->
                                <template v-if="ss.sessionOfSameTime.length !== 1">
                                    <div class="row bg-white">
                                        <div class="col-sm-2 bs-session-time">
                                            {{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="row agenda-row">
                                                <template v-for="sss in ss.sessionOfSameTime">
                                                    <template v-for="speaker in sss.speaker">
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-sm-3  be-session-track bg-gray" v-if="sss.track == 'Track A'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track a </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-sm-3  be-session-track " v-if="sss.track == 'Track B'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track b </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-sm-3  be-session-track bg-gray" v-if="sss.track == 'Track C'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track c </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-sm-3  be-session-track" v-if="sss.track == 'Track D'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track d </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <!-- end of four tracks -->
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </section>
              <!-- section modal -->
        <section>
            <template v-for="ss in sessionSortedByTime">
                <template v-for="sss in ss.sessionOfSameTime">
                  
                        <template v-for="speaker in sss.speaker">
                            <!-- modal -->
                            <div class="modal fade speaker-modal" :id="'se' + sss.session_id" tabindex="-1" role="dialog" aria-labelledby="speaker01Label">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body row">
                                            <div class="col-sm-12 col-xs-12 speaker-brief__top">
                                                <div class="col-xs-4">
                                                    <img :src="speaker.avatar" alt="" class="img-circle img-responsive">
                                                </div>
                                                <div class="col-xs-8">
                                                    <div class="speaker-box__name">
                                                        {{speaker.speaker}}
                                                    </div>
                                                    <div class="speaker-box__title">
                                                        {{ speaker.company }}
                                                        <br> {{ speaker.department }}{{ speaker.position }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-xs-12 speaker-brief__bottom">
                                                <hr>
                                                <ul class="list-inline" role="tablist">
                                                    <li role="presentation" class="active tabSession">
                                                        <a class="tab" :data-target="'#sessionModalAgenda'+sss.session_id" :aria-controls="'#sessionModalAgenda'+sss.session_id" role="tab" data-toggle="tab">議程介紹</a>
                                                    </li>
                                                    <li role="presentation tabSpeaker">
                                                        <a class="tab" :data-target="'#sessionModalIntro'+sss.session_id" :aria-controls="'#sessionModalIntro'+sss.session_id" role="tab" data-toggle="tab">講師簡介</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div role="tabpanel" :id="'sessionModalAgenda'+sss.session_id" class="tab-pane active">
                                                        <div class="speaker-brief__agenda">
                                                            <div class="speaker-brief__agenda-content overflow-y">
                                                                <p><b class="h3"><big>
                                                            {{ sss.title }}
                                                        </big></b></p>
                                                                <p v-html="sss.summary"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" :id="'sessionModalIntro'+sss.session_id" class="tab-pane">
                                                        <div class="speaker-brief__intro overflow-y">
                                                            <p v-html="speaker.profile"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of modal -->
              
                    </template>
                     <!-- modal for session without speaker -->
                    <tempalte v-if="sss.speaker.length == 0">
                        <!-- modal -->
                            <div class="modal fade speaker-modal" :id="'se' + sss.session_id" tabindex="-1" role="dialog" aria-labelledby="speaker01Label">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body row">
                                            <div class="col-sm-12 col-xs-12 speaker-brief__top">
                                                <div class="col-xs-4">
                                                    <img src="" alt="" class="img-circle img-responsive">
                                                </div>
                                                <div class="col-xs-8">
                                                    <div class="speaker-box__name">
                                                       
                                                    </div>
                                                    <div class="speaker-box__title">
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-xs-12 speaker-brief__bottom">
                                                <hr>
                                                <ul class="list-inline" role="tablist">
                                                    <li role="presentation" class="active tabSession">
                                                        <a class="tab" :data-target="'#sessionModalAgenda'+sss.session_id" :aria-controls="'#sessionModalAgenda'+sss.session_id" role="tab" data-toggle="tab">議程介紹</a>
                                                    </li>
                                                   
                                                </ul>
                                                <div class="tab-content">
                                                    <div role="tabpanel" :id="'sessionModalAgenda'+sss.session_id" class="tab-pane active">
                                                        <div class="speaker-brief__agenda">
                                                            <div class="speaker-brief__agenda-content overflow-y">
                                                                <p><b class="h3"><big>
                                                            {{ sss.title }}
                                                        </big></b></p>
                                                                <p v-html="sss.summary"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" :id="'sessionModalIntro'+sss.session_id" class="tab-pane">
                                                        <div class="speaker-brief__intro overflow-y">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of modal -->
                    </tempalte>
                </template>
            </template>
        </section>
        <section class="section--footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 footer__contact">
                        <div class="col-sm-8">
                            <h5>聯絡 Modern Web 服務小組</h5>
                            <ul>
                                <li>客服專線：<a href="tel:02-25622880">02-25622880 #3622 </a> 開小姐（ 週一至週五，上午 10:30 ~ 12:00，下午 1:30 ~ 5:30 ）</li>
                                <li>客服信箱： <a href="/cdn-cgi/l/email-protection#592a3c2b2f303a3c193438303577302d3136343c773a3634772d2e"><span class="__cf_email__" data-cfemail="ec9f899e9a858f89ac818d8580c2859884838189c28f8381c2989b">[email&#160;protected]</span></a></li>
                            </ul>
                            <ul>
                                <li>場地資訊：華南銀行國際會議中心<a href="https://goo.gl/maps/65VQGkP9En62" target="_blank">台北市信義區松仁路123號</a></li>
                            </ul>
                            <p>iThome 版權所有</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <ul class="footer__social">
                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://modernweb.tw/" title=""><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/home?status=https://modernweb.tw/" title=""><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/cws/share?url=https://modernweb.tw/" title=""><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                                    <li><a href="https://plus.google.com/share?url=https://modernweb.tw/" title=""><i aria-hidden="true" class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="footer__fbshare hidden-sm hidden-xs">
                                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com/modernweb.tw/%2F&amp;tabs&amp;width=340&amp;height=154&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="340" height="124" scrolling="no" frameborder="0" allowtransparency="true" style="border:none;overflow:hidden"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript " src="js/vendor/jquery-3.3.1.js"></script>
    <script type="text/javascript " src="js/vendor/bootstrap-3.3.7.min.js"></script>
    <script src="https://connect.facebook.net/zh_TW/all.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="js/confapi.js?32165444987 " data-nid="3531"></script>
    <script src="js/modernweb2018.js?123"></script>
    <script type="text/javascript">
    $("body").append("<a href='#top' class='gotop'><i class='fa fa-arrow-circle-up'></i></a>");
    var topBtn = $('.gotop');
    topBtn.hide();
    $(window).scroll(function() {
        if ($(this).scrollTop() > 100) {
            topBtn.fadeIn();
        } else {
            topBtn.fadeOut();
        }
    });
    topBtn.click(function() {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
    });
    </script>
</body>

</html>