<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Modern Web 2019</title>
    <meta property="og:url" content="https://modernweb.tw" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Modern Web 2019 ─ 技術在我們手上，世界就在我們手上" />
    <meta property="og:description" content="Modern Web 2019" />
    <meta property="og:image" content="https://modernweb.tw/img/fbimg.jpg" />
    <meta property="og:image:width" content="601" />
    <meta property="og:image:height" content="346" />
    <link rel="icon" type="image/png" href="img/favicon.ico?01" sizes="16x16">
    <!-- css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css?03">
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48349256-7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-48349256-7');
    </script>
</head>

<body class="theme-bg-color">
    <!-- #modernWeb2019 -->
    <div id="modernweb2019">
        <!-- day 1 -->
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="agenda__title">8/28 <span>Wed</span></h2>
                            </div>
                        </div>
                        <div class="bs-session-container">
                            <div class="row">
                                <div class="col-12 col-sm-2 bs-agenda__row-head">時間</div>
                                <div class="col-12 col-sm-10 bs-agenda__row-head">議程</div>
                            </div>
                            <template v-for="ss in sessionSortedByTime" v-if="findWhichDayOfEvent(ss.date,'28')">
                                <template v-if="ss['sessionOfSameTime'][0]['session_type'] == 'keynote'">
                                    <!-- keynote -->
                                    <div class="row bg-white">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <template v-for="sss in ss.sessionOfSameTime">
                                            <!-- for session without speaker -->
                                            <template v-if="sss.speaker.length == 0">
                                                <div class="col-12 col-sm-10 bs-session" data-toggle="modal" :data-target="'#se' + sss.session_id">
                                                    <div class="speaker-box speaker-box--keynote">
                                                        <div class="bs-session-content">
                                                            <div class="agenda__t-keynote-topic">
                                                                <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span>{{sss.title}}
                                                            </div>
                                                        </div>
                                                        <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                    </div>
                                                </div>
                                            </template>
                                            <!-- keynote session -->
                                            <template v-else v-for="speaker in sss.speaker">
                                                <div class="col-12 col-sm-10 bs-session" data-toggle="modal" :data-target="'#se' + sss.session_id">
                                                    <div class="speaker-box speaker-box--keynote">
                                                        <div class="bs-session-content">
                                                            <div class="agenda__t-keynote-topic"><span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{sss.title}}
                                                            </div>
                                                            <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                            <div class="agenda__t-keynote-name">
                                                                <div><img :src="speaker.avatar" alt="">
                                                                    <span>{{speaker.speaker}}</span>
                                                                    <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </template>
                                    </div>
                                    <!-- end of keynote-->
                                </template>
                                <!-- break -->
                                <template v-if="ss['sessionOfSameTime'][0]['session_type'] == 'break'">
                                    <div v-if="ss['sessionOfSameTime'][0]['title'] == 'Opening'" class="row bg-skin">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time bg-skin">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div v-for="sss in ss.sessionOfSameTime" class="col-12 col-sm-10 bs-session bg-skin">
                                            <div class=" ">
                                                <div class="bs-agenda__row-rest">
                                                    <div class="">{{sss.title}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else class="row bg-light-blue">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time bg-light-blue">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div v-for="sss in ss.sessionOfSameTime" class="col-12 col-sm-10 bs-session bg-light-blue">
                                            <div class=" ">
                                                <div class="bs-agenda__row-rest">
                                                    <div class="">{{sss.title}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <!-- end of break -->
                                <template v-if="ss['sessionOfSameTime'][0]['session_id'] == '6406'">
                                    <!-- track header-->
                                    <div class="row bg-white hidden-xs">
                                        <div class="col-12 col-sm-2 "></div>
                                        <div class="col-12 col-sm-10">
                                            <div class="row ">
                                                <div class="col-12 col-sm-25  bg-gray">
                                                    <div class="agenda__t-track text-center">Track A <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-white">
                                                    <div class="agenda__t-track text-center">Track B <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-gray">
                                                    <div class="agenda__t-track text-center">Track C <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-white">
                                                    <div class="agenda__t-track text-center">Track D <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-gray">
                                                    <div class="agenda__t-track text-center">Track E <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of track header -->
                                </template>
                                <!-- five tracks -->
                                <template v-if="ss.sessionOfSameTime.length !== 1">
                                    <div class="row bg-white">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time">
                                            {{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div class="col-12 col-sm-10">
                                            <div class="row agenda-row">
                                                <template v-for="sss in ss.sessionOfSameTime">
                                                    <template v-for="speaker in sss.speaker">
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track bg-gray" v-if="sss.track == 'Track A'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track a </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track " v-if="sss.track == 'Track B'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track b </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track bg-gray" v-if="sss.track == 'Track C'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track c </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track" v-if="sss.track == 'Track D'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track d </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track bg-gray" v-if="sss.track == 'Track E'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track e </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <!-- end of five tracks -->
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- day2  -->
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <h2 class="agenda__title">8/29 <span>Thu</span></h2>
                            </div>
                        </div>
                        <div class="bs-session-container">
                            <div class="row">
                                <div class="col-12 col-sm-2 bs-agenda__row-head">時間</div>
                                <div class="col-12 col-sm-10 bs-agenda__row-head">議程</div>
                            </div>
                            <template v-for="ss in sessionSortedByTime" v-if="findWhichDayOfEvent(ss.date,'29')">
                                <template v-if="ss['sessionOfSameTime'][0]['session_type'] == 'keynote'">
                                    <!-- keynote -->
                                    <div class="row bg-white">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <template v-for="sss in ss.sessionOfSameTime">
                                            <!-- for session without speaker -->
                                            <template v-if="sss.speaker.length == 0">
                                                <div class="col-12 col-sm-10 bs-session" data-toggle="modal" :data-target="'#se' + sss.session_id">
                                                    <div class="speaker-box speaker-box--keynote">
                                                        <div class="bs-session-content">
                                                            <div class="agenda__t-keynote-topic">
                                                                <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span>{{sss.title}}
                                                            </div>
                                                            <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                            <!-- keynote session -->
                                            <template v-else v-for="speaker in sss.speaker">
                                                <div class="col-12 col-sm-10 bs-session" data-toggle="modal" :data-target="'#se' + sss.session_id">
                                                    <div class="speaker-box speaker-box--keynote">
                                                        <div class="bs-session-content">
                                                            <div class="agenda__t-keynote-topic"><span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{sss.title}}
                                                            </div>
                                                            <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                            <div class="agenda__t-keynote-name">
                                                                <div><img :src="speaker.avatar" alt="">
                                                                    <span>{{speaker.speaker}}</span>
                                                                    <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </template>
                                    </div>
                                    <!-- end of keynote-->
                                </template>
                                <!-- break -->
                                <template v-if="ss['sessionOfSameTime'][0]['session_type'] == 'break'">
                                    <div v-if="ss['sessionOfSameTime'][0]['title'] == 'Opening'" class="row bg-skin">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time bg-skin">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div v-for="sss in ss.sessionOfSameTime" class="col-12 col-sm-10 bs-session bg-skin">
                                            <div class=" ">
                                                <div class="bs-agenda__row-rest">
                                                    <div class="">{{sss.title}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else class="row bg-light-blue">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time bg-light-blue">{{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div v-for="sss in ss.sessionOfSameTime" class="col-12 col-sm-10 bs-session bg-light-blue">
                                            <div class=" ">
                                                <div class="bs-agenda__row-rest">
                                                    <div class="">{{sss.title}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <!-- end of break -->
                                <template v-if="ss['sessionOfSameTime'][0]['session_id'] == '6399'">
                                    <!-- track tag-->
                                    <div class="row bg-white hidden-xs">
                                        <div class="col-12 col-sm-2 "></div>
                                        <div class="col-12 col-sm-10">
                                            <div class="row ">
                                                <div class="col-12 col-sm-25  bg-gray">
                                                    <div class="agenda__t-track text-center">Track A <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-white">
                                                    <div class="agenda__t-track text-center">Track B <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-gray">
                                                    <div class="agenda__t-track text-center">Track C <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-white">
                                                    <div class="agenda__t-track text-center">Track D <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                                <div class="col-12 col-sm-25  bg-gray">
                                                    <div class="agenda__t-track text-center">Track E <i aria-hidden="true " class="fa fa-map-marker-alt"></i> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of track tag -->
                                </template>
                                <!-- five tracks -->
                                <template v-if="ss.sessionOfSameTime.length !== 1">
                                    <div class="row bg-white">
                                        <div class="col-12 col-sm-2 bs-agenda__row-time">
                                            {{ss.date | time}} - {{ss.endDate | time}}
                                        </div>
                                        <div class="col-12 col-sm-10">
                                            <div class="row agenda-row">
                                                <template v-for="sss in ss.sessionOfSameTime">
                                                    <template v-for="speaker in sss.speaker">
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track bg-gray" v-if="sss.track == 'Track A'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track a </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }} {{ speaker.department }} {{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track " v-if="sss.track == 'Track B'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track b </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track bg-gray" v-if="sss.track == 'Track C'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track c </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track" v-if="sss.track == 'Track D'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track d </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-toggle="modal" :data-target="'#se' + sss.session_id" class="col-12 col-sm-25  be-session-track bg-gray" v-if="sss.track == 'Track E'">
                                                            <div class="agenda__t-class horizontal-center">
                                                                <span class="agenda__t-class-track">track e </span>
                                                                <div class="agenda__t-class-topic">
                                                                    <span v-if="sss.language == '英文'" class="speaker-brief__agenda-type">EN</span> {{ sss.title }}
                                                                </div>
                                                                <!-- <span  class="session-download" v-if="!!sss.download_link">
                                                    <span > <a :href="sss.download_link">
                                                        <i class="fa fa-file-pdf" aria-hidden="true"> </i>        
                                                    <span>會議簡報</span>

                                                </a></span>
                                                </span> -->
                                                                <div class="agenda__t-keynote-name">
                                                                    <div><img :src="speaker.avatar" alt="">
                                                                        <span>{{speaker.speaker}}</span>
                                                                        <span>/ {{ speaker.company }}{{ speaker.department }}{{ speaker.position }}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <!-- end of five tracks -->
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end #modernWeb2019 -->
</body>
<!-- JavaScript -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/confapi.js" data-nid="6270"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script> -->
<script type="text/javascript" src="js/modernweb2019.js?0701"></script>
<script type="text/javascript" src="js/main.js"></script>

</html>