<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Modern Web 2019</title>
    <meta property="og:url" content="https://modernweb.tw" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Modern Web 2019 ─ 技術在我們手上，世界就在我們手上" />
    <meta property="og:description" content="Modern Web 2019" />
    <meta property="og:image" content="https://modernweb.tw/img/fbimg.jpg" />
    <meta property="og:image:width" content="601" />
    <meta property="og:image:height" content="346" />
    <link rel="icon" type="image/png" href="img/favicon.ico?01" sizes="16x16">
    <!-- css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css?03">
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48349256-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-48349256-7');
    </script>
</head>

<body class="theme-bg-color">
    <!-- #modernWeb2019 -->
    <div id="modernweb2019">
        <!-- loading animation -->
        <!-- <div class="loading" id="loading">
        </div> -->
        <!-- end loading animation -->
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger navbar--logo" href="index.html">
                    <img src="img/logo.svg" class="img-fluid navbar-logo__img">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto nav-fill w-100 justify-content-end align-items-center">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="index.html">首頁</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="tickets.html">報名購票</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="agenda.html">議程表</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="index.html#keynotes">Keynotes</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="index.html#speakersChina">講師</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="dojo.html">道場</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="jobs.html">贊助商與徵才</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="policy.html">行為守則</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">歷年回顧</a>
                            <div class="dropdown-menu text-center">
                                <a class="dropdown-item" href="https://modernweb.tw/2018/index.html" target="_blank">2018</a>
                                <a class="dropdown-item" href="https://modernweb.tw/2017/index.html" target="_blank">2017</a>
                                <a class="dropdown-item" href="https://modernweb.tw/2016/index.html" target="_blank">2016</a>
                                <a class="dropdown-item" href="https://modernweb.tw/2015/index.html" target="_blank">2015</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- end Navigation -->
        <section class="content content--kv" id="nav">
            <div class="content--kv--wrapper">
                <!-- <img src="img/content-kv.svg" alt="" class="img-fluid"> -->
                <div class="kv-head">
                    <h1 class="title deco-title-dk">贊助商與徵才</h1>
                    <h3 class="sub-title">ModernWeb in Taiwan</h3>
                </div>
            </div>
        </section>
        <section class="content jobs">
            <div class="container">
                <!-- 主辦單位 -->
                <h4 class="title text-center" v-if="SponsorFilter.Host.length > 0">主辦單位</h4>
                <div class="row justify-content-center" v-for="sponsor in SponsorFilter.Host">
                    <!-- jobs item -->
                    <div class="jobs--item row" :id="'s' + sponsor.vendor_id">
                        <div class="col-md-3 text-center col-12 jobs--item--brand">
                            <a :href="sponsor.official_site" target="_blank">
                                <img :src="sponsor.logo" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-8 col-11 jobs--item--content">
                            <!-- title -->
                            <div class="jobs--item--content--title">
                                <a :href="sponsor.official_site" target="_blank">
                                    <h3 class="jobs--item--content--title--main">{{ sponsor.title }}</h3>
                                    <h5 class="jobs--item--content--title--sub">{{ sponsor.alt_title }}</h5>
                                </a>
                            </div>
                            <!-- title -->
                            <!-- description -->
                            <div class="jobs--item--content--desc" v-html="sponsor.description">
                            </div>
                            <!-- description -->
                            <!-- job content -->
                            <div class="jobs--item--content--list">
                                <template v-for="job in JobList" v-if="job.sponsor_id === sponsor.vendor_id && job.jobs.length > 0">
                                    <h5 class="">矚目職缺</h5>
                                </template>
                                <ul class="ul">
                                    <template v-for="job in JobList">
                                        <template v-if="job.sponsor_id === sponsor.vendor_id">
                                            <li v-for="jb in job.jobs">
                                                <a :href="jb.url" target="_blank" class="joblist">{{ jb.title }}</a>
                                            </li>
                                        </template>
                                    </template>
                                </ul>
                                <template v-for="job in JobList" v-if="job.jobs.length > 0">
                                    <template v-if="job.sponsor_id === sponsor.vendor_id">
                                        <a :href="job.more_link" class="btn btn-block btn-line-gray" v-if="!!job.more_link">更多職缺</a>
                                    </template>
                                </template>
                            </div>
                            <!-- job content -->
                        </div>
                    </div>
                    <!-- jobs item -->
                </div>
                <!-- 鑽石 -->
                <h4 class="title text-center" v-if="SponsorFilter.Diamond.length > 0">鑽石級</h4>
                <div class="row justify-content-center" v-for="sponsor in SponsorFilter.Diamond">
                    <!-- jobs item -->
                    <div class="jobs--item row" :id="'s' + sponsor.vendor_id">
                        <div class="col-md-3 text-center col-12 jobs--item--brand">
                            <a :href="sponsor.official_site" target="_blank">
                                <img :src="sponsor.logo" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-8 col-11 jobs--item--content">
                            <!-- title -->
                            <div class="jobs--item--content--title">
                                <a :href="sponsor.official_site" target="_blank">
                                    <h3 class="jobs--item--content--title--main">{{ sponsor.title }}</h3>
                                    <h5 class="jobs--item--content--title--sub">{{ sponsor.alt_title }}</h5>
                                </a>
                            </div>
                            <!-- title -->
                            <!-- description -->
                            <div class="jobs--item--content--desc" v-html="sponsor.description">
                            </div>
                            <!-- description -->
                            <!-- job content -->
                            <div class="jobs--item--content--list">
                                <template v-for="job in JobList" v-if="job.sponsor_id === sponsor.vendor_id && job.jobs.length > 0">
                                    <h5 class="">矚目職缺</h5>
                                </template>
                                <ul class="ul">
                                    <template v-for="job in JobList">
                                        <template v-if="job.sponsor_id === sponsor.vendor_id">
                                            <li v-for="jb in job.jobs">
                                                <a :href="jb.url" target="_blank" class="joblist">{{ jb.title }}</a>
                                            </li>
                                        </template>
                                    </template>
                                </ul>
                                <template v-for="job in JobList" v-if="job.jobs.length > 0">
                                    <template v-if="job.sponsor_id === sponsor.vendor_id">
                                        <a :href="job.more_link" class="btn btn-block btn-line-gray" v-if="!!job.more_link">更多職缺</a>
                                    </template>
                                </template>
                            </div>
                            <!-- job content -->
                        </div>
                    </div>
                    <!-- jobs item -->
                </div>
                <!-- 白金 -->
                <h4 class="title text-center" v-if="SponsorFilter.Platinum.length > 0">白金級</h4>
                <div class="row justify-content-center" v-for="sponsor in SponsorFilter.Platinum">
                    <!-- jobs item -->
                    <div class="jobs--item row" :id="'s' + sponsor.vendor_id">
                        <div class="col-md-3 text-center col-12 jobs--item--brand">
                            <a :href="sponsor.official_site" target="_blank">
                                <img :src="sponsor.logo" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-8 col-11 jobs--item--content">
                            <!-- title -->
                            <div class="jobs--item--content--title">
                                <a :href="sponsor.official_site" target="_blank">
                                    <h3 class="jobs--item--content--title--main">{{ sponsor.title }}</h3>
                                    <h5 class="jobs--item--content--title--sub">{{ sponsor.alt_title }}</h5>
                                </a>
                            </div>
                            <!-- title -->
                            <!-- description -->
                            <div class="jobs--item--content--desc" v-html="sponsor.description">
                            </div>
                            <!-- description -->
                            <!-- job content -->
                            <div class="jobs--item--content--list">
                                <template v-for="job in JobList" v-if="job.sponsor_id === sponsor.vendor_id && job.jobs.length > 0">
                                    <h5 class="">矚目職缺</h5>
                                </template>
                                <ul class="ul">
                                    <template v-for="job in JobList">
                                        <template v-if="job.sponsor_id === sponsor.vendor_id">
                                            <li v-for="jb in job.jobs">
                                                <a :href="jb.url" target="_blank" class="joblist">{{ jb.title }}</a>
                                            </li>
                                        </template>
                                    </template>
                                </ul>
                                <template v-for="job in JobList" v-if="job.jobs.length > 0">
                                    <template v-if="job.sponsor_id === sponsor.vendor_id">
                                        <a :href="job.more_link" class="btn btn-block btn-line-gray" v-if="!!job.more_link">更多職缺</a>
                                    </template>
                                </template>
                            </div>
                            <!-- job content -->
                        </div>
                    </div>
                    <!-- jobs item -->
                </div>
                <!-- 黃金 -->
                <h4 class="title text-center" v-if="SponsorFilter.Gold.length > 0">黃金級</h4>
                <div class="row justify-content-center" v-for="sponsor in SponsorFilter.Gold">
                    <!-- jobs item -->
                    <div class="jobs--item row" :id="'s' + sponsor.vendor_id">
                        <div class="col-md-3 text-center col-12 jobs--item--brand">
                            <a :href="sponsor.official_site" target="_blank">
                                <img :src="sponsor.logo" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-8 col-11 jobs--item--content">
                            <!-- title -->
                            <div class="jobs--item--content--title">
                                <a :href="sponsor.official_site" target="_blank">
                                    <h3 class="jobs--item--content--title--main">{{ sponsor.title }}</h3>
                                    <h5 class="jobs--item--content--title--sub">{{ sponsor.alt_title }}</h5>
                                </a>
                            </div>
                            <!-- title -->
                            <!-- description -->
                            <div class="jobs--item--content--desc" v-html="sponsor.description">
                            </div>
                            <!-- description -->
                            <!-- job content -->
                            <div class="jobs--item--content--list">
                                <template v-for="job in JobList" v-if="job.sponsor_id === sponsor.vendor_id && job.jobs.length > 0">
                                    <h5 class="">矚目職缺</h5>
                                </template>
                                <ul class="ul">
                                    <template v-for="job in JobList">
                                        <template v-if="job.sponsor_id === sponsor.vendor_id">
                                            <li v-for="jb in job.jobs">
                                                <a :href="jb.url" target="_blank" class="joblist">{{ jb.title }}</a>
                                            </li>
                                        </template>
                                    </template>
                                </ul>
                                <template v-for="job in JobList" v-if="job.jobs.length > 0">
                                    <template v-if="job.sponsor_id === sponsor.vendor_id">
                                        <a :href="job.more_link" class="btn btn-block btn-line-gray" v-if="!!job.more_link">更多職缺</a>
                                    </template>
                                </template>
                            </div>
                            <!-- job content -->
                        </div>
                    </div>
                    <!-- jobs item -->
                </div>
                <!-- 銀 -->
                <h4 class="title text-center" v-if="SponsorFilter.Silver.length > 0">銀級</h4>
                <div class="row justify-content-center" v-for="sponsor in SponsorFilter.Silver">
                    <!-- jobs item -->
                    <div class="jobs--item row" :id="'s' + sponsor.vendor_id">
                        <div class="col-md-3 text-center col-12 jobs--item--brand">
                            <a :href="sponsor.official_site" target="_blank">
                                <img :src="sponsor.logo" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-8 col-11 jobs--item--content">
                            <!-- title -->
                            <div class="jobs--item--content--title">
                                <a :href="sponsor.official_site" target="_blank">
                                    <h3 class="jobs--item--content--title--main">{{ sponsor.title }}</h3>
                                    <h5 class="jobs--item--content--title--sub">{{ sponsor.alt_title }}</h5>
                                </a>
                            </div>
                            <!-- title -->
                            <!-- description -->
                            <div class="jobs--item--content--desc" v-html="sponsor.description">
                            </div>
                            <!-- description -->
                            <!-- job content -->
                            <div class="jobs--item--content--list">
                                <template v-for="job in JobList" v-if="job.sponsor_id === sponsor.vendor_id && job.jobs.length > 0">
                                    <h5 class="">矚目職缺</h5>
                                </template>
                                <ul class="ul">
                                    <template v-for="job in JobList">
                                        <template v-if="job.sponsor_id === sponsor.vendor_id">
                                            <li v-for="jb in job.jobs">
                                                <a :href="jb.url" target="_blank" class="joblist">{{ jb.title }}</a>
                                            </li>
                                        </template>
                                    </template>
                                </ul>
                                <template v-for="job in JobList" v-if="job.jobs.length > 0">
                                    <template v-if="job.sponsor_id === sponsor.vendor_id">
                                        <a :href="job.more_link" class="btn btn-block btn-line-gray" v-if="!!job.more_link">更多職缺</a>
                                    </template>
                                </template>
                            </div>
                            <!-- job content -->
                        </div>
                    </div>
                    <!-- jobs item -->
                </div>
                <!-- 銅 -->
                <h4 class="title text-center" v-if="SponsorFilter.Bronze.length > 0">銅級</h4>
                <div class="row justify-content-center" v-for="sponsor in SponsorFilter.Bronze">
                    <!-- jobs item -->
                    <div class="jobs--item row" :id="'s' + sponsor.vendor_id">
                        <div class="col-md-3 text-center col-12 jobs--item--brand">
                            <a :href="sponsor.official_site" target="_blank">
                                <img :src="sponsor.logo" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-8 col-11 jobs--item--content">
                            <!-- title -->
                            <div class="jobs--item--content--title">
                                <a :href="sponsor.official_site" target="_blank">
                                    <h3 class="jobs--item--content--title--main">{{ sponsor.title }}</h3>
                                    <h5 class="jobs--item--content--title--sub">{{ sponsor.alt_title }}</h5>
                                </a>
                            </div>
                            <!-- title -->
                            <!-- description -->
                            <div class="jobs--item--content--desc" v-html="sponsor.description">
                            </div>
                            <!-- description -->
                            <!-- job content -->
                            <div class="jobs--item--content--list">
                                <template v-for="job in JobList" v-if="job.sponsor_id === sponsor.vendor_id && job.jobs.length > 0">
                                    <h5 class="">矚目職缺</h5>
                                </template>
                                <ul class="ul">
                                    <template v-for="job in JobList">
                                        <template v-if="job.sponsor_id === sponsor.vendor_id">
                                            <li v-for="jb in job.jobs">
                                                <a :href="jb.url" target="_blank" class="joblist">{{ jb.title }}</a>
                                            </li>
                                        </template>
                                    </template>
                                </ul>
                                <template v-for="job in JobList" v-if="job.jobs.length > 0">
                                    <template v-if="job.sponsor_id === sponsor.vendor_id">
                                        <a :href="job.more_link" class="btn btn-block btn-line-gray" v-if="!!job.more_link">更多職缺</a>
                                    </template>
                                </template>
                            </div>
                            <!-- job content -->
                        </div>
                    </div>
                    <!-- jobs item -->
                </div>
                <!-- 共同推廣 -->
                <h4 class="title text-center" v-if="SponsorFilter.Promo.length > 0">共同推廣</h4>
                <div class="row justify-content-center" v-for="sponsor in SponsorFilter.Promo">
                    <!-- jobs item -->
                    <div class="jobs--item row" :id="'s' + sponsor.vendor_id">
                        <div class="col-md-3 text-center col-12 jobs--item--brand">
                            <a :href="sponsor.official_site" target="_blank">
                                <img :src="sponsor.logo" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-8 col-11 jobs--item--content">
                            <!-- title -->
                            <div class="jobs--item--content--title">
                                <a :href="sponsor.official_site" target="_blank">
                                    <h3 class="jobs--item--content--title--main">{{ sponsor.title }}</h3>
                                    <h5 class="jobs--item--content--title--sub">{{ sponsor.alt_title }}</h5>
                                </a>
                            </div>
                            <!-- title -->
                            <!-- description -->
                            <div class="jobs--item--content--desc" v-html="sponsor.description">
                            </div>
                            <!-- description -->
                            <!-- job content -->
                            <div class="jobs--item--content--list">
                                <template v-for="job in JobList" v-if="job.sponsor_id === sponsor.vendor_id && job.jobs.length > 0">
                                    <h5 class="">矚目職缺</h5>
                                </template>
                                <ul class="ul">
                                    <template v-for="job in JobList">
                                        <template v-if="job.sponsor_id === sponsor.vendor_id">
                                            <li v-for="jb in job.jobs">
                                                <a :href="jb.url" target="_blank" class="joblist">{{ jb.title }}</a>
                                            </li>
                                        </template>
                                    </template>
                                </ul>
                                <template v-for="job in JobList" v-if="job.jobs.length > 0">
                                    <template v-if="job.sponsor_id === sponsor.vendor_id">
                                        <a :href="job.more_link" class="btn btn-block btn-line-gray" v-if="!!job.more_link">更多職缺</a>
                                    </template>
                                </template>
                            </div>
                            <!-- job content -->
                        </div>
                    </div>
                    <!-- jobs item -->
                </div>
                <!-- 特別感謝 -->
                <h4 class="title text-center" v-if="SponsorFilter.Special.length > 0">特別感謝</h4>
                <div class="row justify-content-center" v-for="sponsor in SponsorFilter.Special">
                    <!-- jobs item -->
                    <div class="jobs--item row" :id="'s' + sponsor.vendor_id">
                        <div class="col-md-3 text-center col-12 jobs--item--brand">
                            <a :href="sponsor.official_site" target="_blank">
                                <img :src="sponsor.logo" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-8 col-11 jobs--item--content">
                            <!-- title -->
                            <div class="jobs--item--content--title">
                                <a :href="sponsor.official_site" target="_blank">
                                    <h3 class="jobs--item--content--title--main">{{ sponsor.title }}</h3>
                                    <h5 class="jobs--item--content--title--sub">{{ sponsor.alt_title }}</h5>
                                </a>
                            </div>
                            <!-- title -->
                            <!-- description -->
                            <div class="jobs--item--content--desc" v-html="sponsor.description">
                            </div>
                            <!-- description -->
                            <!-- job content -->
                            <div class="jobs--item--content--list">
                                <template v-for="job in JobList" v-if="job.sponsor_id === sponsor.vendor_id && job.jobs.length > 0">
                                    <h5 class="">矚目職缺</h5>
                                </template>
                                <ul class="ul">
                                    <template v-for="job in JobList">
                                        <template v-if="job.sponsor_id === sponsor.vendor_id">
                                            <li v-for="jb in job.jobs">
                                                <a :href="jb.url" target="_blank" class="joblist">{{ jb.title }}</a>
                                            </li>
                                        </template>
                                    </template>
                                </ul>
                                <template v-for="job in JobList" v-if="job.jobs.length > 0">
                                    <template v-if="job.sponsor_id === sponsor.vendor_id">
                                        <a :href="job.more_link" class="btn btn-block btn-line-gray" v-if="!!job.more_link">更多職缺</a>
                                    </template>
                                </template>
                            </div>
                            <!-- job content -->
                        </div>
                    </div>
                    <!-- jobs item -->
                </div>
                <!-- 企業贊助 -->
                <h4 class="title text-center" v-if="SponsorFilter.Enterprise.length > 0">企業團購</h4>
                <div class="row justify-content-center" v-for="sponsor in SponsorFilter.Enterprise">
                    <!-- jobs item -->
                    <div class="jobs--item row" :id="'s' + sponsor.vendor_id">
                        <div class="col-md-3 text-center col-12 jobs--item--brand">
                            <a :href="sponsor.official_site" target="_blank">
                                <img :src="sponsor.logo" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-8 col-11 jobs--item--content">
                            <!-- title -->
                            <div class="jobs--item--content--title">
                                <a :href="sponsor.official_site" target="_blank">
                                    <h3 class="jobs--item--content--title--main">{{ sponsor.title }}</h3>
                                    <h5 class="jobs--item--content--title--sub">{{ sponsor.alt_title }}</h5>
                                </a>
                            </div>
                            <!-- title -->
                            <!-- description -->
                            <div class="jobs--item--content--desc" v-html="sponsor.description">
                            </div>
                            <!-- description -->
                            <!-- job content -->
                            <div class="jobs--item--content--list">
                                <template v-for="job in JobList" v-if="job.sponsor_id === sponsor.vendor_id && job.jobs.length > 0">
                                    <h5 class="">矚目職缺</h5>
                                </template>
                                <ul class="ul">
                                    <template v-for="job in JobList">
                                        <template v-if="job.sponsor_id === sponsor.vendor_id">
                                            <li v-for="jb in job.jobs">
                                                <a :href="jb.url" target="_blank">{{ jb.title }}</a>
                                            </li>
                                        </template>
                                    </template>
                                </ul>
                                <template v-for="job in JobList" v-if="job.jobs.length > 0">
                                    <template v-if="job.sponsor_id === sponsor.vendor_id">
                                        <a :href="job.more_link" class="btn btn-block btn-line-gray" v-if="!!job.more_link">更多職缺</a>
                                    </template>
                                </template>
                            </div>
                            <!-- job content -->
                        </div>
                    </div>
                    <!-- jobs item -->
                </div>
            </div>
        </section>
        <footer class="content footer">
            <div class="footer--wave"></div>
            <img src="img/footer-bg-star.svg" class="img-fluid footer--deco--star--l">
            <img src="img/footer-shine.svg" class="img-fluid footer--deco--shine--l">
            <img src="img/footer-bg-star.svg" class="img-fluid footer--deco--star--r">
            <img src="img/footer-shine.svg" class="img-fluid footer--deco--shine--r">
            <img src="img/footer-bg-planet.svg" class="img-fluid footer--deco--planet">
            <img src="img/footer-alien.svg" class="img-fluid footer--deco--alien">
            <div class="container">
                <div class="row">
                    <div class="col-12 footer--logo">
                        <img src="img/logo.svg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-12 footer--desc">
                        <ul class="">
                            <li class="footer--desc--li">會議時間：2019年8月28日(三) - 29日(四)</li>
                            <li class="footer--desc--li">會議地點：TICC 臺北國際會議中心</li>
                            <li class="footer--desc--li">客服專線：02-25622880 #3622 開小姐
                                （ 週一至週五，上午 10:30 ~ 12:00，下午 1:30 ~ 5:30 ）</li>
                            <li class="footer--desc--li">客服信箱：<a href="mailto:service@mail.ithome.com.tw">service@mail.ithome.com.tw </a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="footer--fbshare">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com/modernweb.tw/%2F&amp;tabs&amp;width=340&amp;height=154&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="340" height="124" scrolling="no" frameborder="0" allowtransparency="true" style="border:none;overflow:hidden"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end #modernWeb2019 -->
</body>
<!-- JavaScript -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/confapi.js" data-nid="6270"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script> -->
<script type="text/javascript" src="js/modernweb2019.js?0701"></script>
<script type="text/javascript" src="js/main.js"></script>
<script src="js/easytimer.js"></script>

</html>