// from 2018 agenda.css
.bs-session-track{
	width:100%;
}
.horizontal-center{
	width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px){

.hidden-xs{
display: none;
}
}

 @media(min-width:768px){
 	.agenda-row.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.agenda-row.row > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-direction: column;
}
.agenda-row.container:before,
.agenda-row.container:after,
.agenda-row.row:before,
.agenda-row.row:after {
   content: normal; // IE doesn't support `initial`
}

 }



.text-center{
	text-align: center;
}
.speaker-brief__agenda-type{
	color:$bg-blue;
	font-size: 18px;
	border:2px solid $bg-blue;
	margin:0 5px;
	padding:  0 3px;
	border-radius: 4px;
}
.speaker-brief__top {
    margin-bottom: 20px;
}
.speaker-brief__bottom {
    align-items: flex-start;
}
.speaker-box__name {
    font-size: 120%;
    margin-bottom: 10px;
}

.bs-session-container > .row{
	
	border-bottom:1px solid #bababa;
}

.bs-session-track{
	background: white;
	padding: 12px 16px;
}

.bs-session-track-content{
	padding:10px;
	color:purple;
	text-align: center;
}

.bs-session{
	background: white;
}
div[data-toggle="modal"]:hover{
	background: $bg-skin;
}
div[data-toggle="modal"]{
	cursor: pointer;
	
}

.agenda__t-keynote-topic{
	font-size: 24px;
}

.bs-session-content{
	    padding: 12px 16px;
	    /*margin-bottom: 12px;*/
	   
	     color: $bg-blue;
	text-align: center;
	

}
.bg-skin .bs-session-content{
	    padding: 12px 16px;
	    margin:0;
    font-size: 18px;   
}
.bs-agenda__row-rest{
	    padding: 12px 16px;
    font-size: 18px;
    color: #666;
    text-align: center;
   

}
.bg-white{
	background:#f9f9f9;
}


.bg-gray{
	background:#efefef;
}

.bs-agenda__row-time{
	background: white;
	    padding: 12px 16px;
    font-size: 18px;
    color: #666;
    text-align: center;
}
.bg-skin{
	background:$bg-skin;
}
.bg-light-blue{
	    background-color: $font-color-light-blue;
}
.bg-light-blue:parent{
	background-color: $font-color-light-blue !important;
}

.bs-agenda__row-head{
	    padding: 12px 16px;
    font-size: 18px;
    text-align: center;
    background-color: $font-color-dark-blue;
    color: #ffffff;
}



// from 2018 modern web setting.css
.session-download{
   /* background: #18052D;
    color:white;
    padding:5px;*/
font-size: 1.6em;
}


// content agenda.html
.agenda {
    margin-top: 5%
}

.agenda__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 2%;
}

@media (max-width:767px) {
    .agenda__title {
        font-size: 30px;
        margin-bottom: 2%;
    }
}

.agenda__title span {
    font-size: 60%
}

.agenda__title--spacing {
    margin-top: 80px
}

.agenda__table {
    width: 100%;
    background-color: #fff
}

.agenda__table-td {
    text-align: center;
    vertical-align: top;
    border-bottom: 1px solid #bababa
}

.agenda__table-td--vertical-m {
    vertical-align: middle
}

.agenda__table-td:first-child {
    width: 14%
}

@media (max-width:767px) {
    .agenda__table-td {
        display: block;
        width: 100%;
        border: 0
    }
    .agenda__table-td:first-child {
        width: 100%
    }
}

.agenda__t-head {
    padding: 12px 16px;
    font-size: 18px;
    color: #1C406B;
    font-weight: 700
}

.agenda__t-time {
    padding: 12px 16px;
    font-size: 18px;
    color: #666;
    background-color: #fff
}

@media (max-width:767px) {
    .agenda__t-time {
        padding: 8px 16px;
        background-color: #C9CACA
    }
}

.agenda__t-rest td {
    padding: 12px 16px;
    font-size: 18px;
    color: #666;
    text-align: center;
    // background-color: $bg-color5;
}

.agenda__t-rest .skin {
    background-color: $bg-skin;
}

.section--agenda .purple .agenda__t-head {
    // background-color: $bg-color2;
    // color: $font-color-pu4;
}

@media (max-width:767px) {
    .agenda__t-rest td {
        padding: 8px 16px
    }
    .agenda__t-rest td:last-child {
        background-color: #fff
    }
}

.agenda__t-keynote {
    display: inline-block;
    padding: 1.5% 1%;
    text-align: center;
}

.agenda__t-keynote-topic {
    margin-bottom: 12px;
    font-size: 24px;
    // color: $font-color-pu2;
}

@media (max-width:767px) {
    .agenda__t-keynote-topic {
        font-size: 18px
    }
}

.agenda__t-keynote-name img {
    width: 40px;
    height: 40px;
    border-radius: 100%
}

.agenda__t-keynote-name div>span {
    display: inline-block;
    margin-left: 8px;
    color: #666
}

.agenda__t-keynote-name>div {
    margin-bottom: 4px
}

.agenda__t-keynote-name>span {
    font-size: 15px;
    color: #666
}

.agenda__t-track {
    padding: 12px 16px;
    font-size: 20px;
    color: $font-color-pink;
    font-weight: 700
}

.agenda__t-track span {
    font-size: 16px;
    font-weight: 500
}

.agenda__t-stripe td {
    width: 22%
}

@media (max-width:767px) {
    .agenda__t-stripe td {
        width: 100%
    }
}

.agenda__t-stripe td:nth-child(2n) {
    background-color: #EFEFEF
}

.agenda__t-class {
    display: inline-block;
    padding: 20px 16px;
    text-align: center;
}

.agenda__t-class-topic {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
    color: $font-color-pink;
}

.agenda__t-class-name img {
    width: 40px;
    height: 40px;
    border-radius: 100%
}

.agenda__t-class-name span {
    display: inline-block;
    margin-left: 8px;
    color: #666;
    font-size: 15px
}

.agenda__t-class-track {
    display: none
}

@media (max-width:767px) {
    .agenda__t-class-track {
        display: inline-block;
        font-size: 14px;
        color: #888
    }
}

.section--agenda {
    margin-top: 1% !important;
}

// 2019 new add
@media (min-width: 576px) {
	.col-sm-25 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
	}
}

// 