.section--event {
    margin: 4% 0 20%;
        .event-base {
	        @include media("<768px") {
	            padding: 0 15px;
                padding-bottom: 8%;
	        }
	        @include media(">=768px") {
	            position: relative;
	            padding: 20px;
	            padding-right: 40px;
	            min-height: 715px;
	            &-line {
	                position: absolute;
	                left: 41%;
	                top: 30px;
	                width: 1px;
	                height: calc(100% - 60px);
	                background-color: $font-color;
	                &:before,&:after {
	                    content: '';
	                    position: absolute;
	                    left: 50%;
	                    width: 4px;
	                    height: 4px;
	                    background-color: $font-color;
	                    transform: translateX(-50%) rotate(45deg) ;
	                }
	                &:before {
	                    top: 0;
	                }
	                &:after {
	                    bottom: 0;
	                }
	            }
	        }
        }

        .event-nav {
        text-align: center;
        @include media("<768px") {
            float: none;
            width: 100%;
        }
            &__list {
                margin-bottom: 0;
                font-size: 0;
                display: flex;
                justify-content: center;
                @include media("<667px") {display: inline-block;}
                li {
                    display: inline-block;
                    flex-basis: 16%;
                    vertical-align: top;
                    margin: 0 0.5%;
                    max-width: 16%;
                    @include media(">=667px") {
                        &.active a {
                            background-color: rgba(255,255,255,.1);
                            color: $font-color;
                            filter:grayscale(0%);
                            border: 2px solid $bg-blue;
                            position: relative;
                            &:after{ content: ''; 
                    			width: 0;
								height: 0;
								border-style: solid;
								border-width: 10px 10px 0 10px;
								border-color: $bg-blue transparent transparent transparent;
								position: absolute;
							    left: 40%;
    							bottom: -12px;
							}
                        }
                    }
                    @include media("<768px") {
                        margin: 0;
                        width: 49%;
                        max-width: 49%;
                        &.active a {
                            background-color:  $font-color-light-blue;
                            h6{color: $font-color;}
                        }
                    }
                }
                a {
                    display: inline-block;
                    margin-bottom: 10px;
                    font-size: 16px;
                    letter-spacing: 1px;
                    text-decoration: none;
                    filter:grayscale(50%);
                    animation-delay: .3s;
                    font-size: 20px;
                    letter-spacing: 2px;
                    border-radius: 8px;
                    border: 1px solid $font-color-light-blue;
                    background-color: lighten($font-color-light-blue,10%);
                    &.btn--undo { background: #444444; border: 0px;
                    	img{ filter: brightness(0);}
            		}
                    @include media("<768px") {
                        padding: 16px 0;
                        width: 90%;
                        font-size: 18px;
                        border: 1px solid $font-color-light-blue;
                        background: rgba(0, 0, 0, 0.1);
						padding: 22% 2%;
					    letter-spacing: 0;
                    }
                    h6{ line-height: 1.8em;
                    	font-size: 16px;
						font-weight: 400;
						color: $font-color;
						margin: 8px 0 5px;
                    }
                    span{ font-size: 14px;display: block; min-height: 24px;
                    	letter-spacing: 1px; color:$font-color;
                	    line-height: 1.2em;
                    	@include media("<768px") {
                    		display: none;
                    	}
                    }
                    &:hover {
                        background-color: rgba(255,255,255,.3);
                        filter:grayscale(0%);
                        color: $font-color;
                    }
                    img {
                    display: block;
                    margin: 6px auto 3px;
                    max-width: 60%;
                        @include media("<768px") {
                            display: none;
                        }
                    }
                }
            }
        }

        .event-panel {
	        padding-left: 50px;
            margin-top: 2%;
	        @include media("<768px") {
	            float: none;
	            width: 100%;
	            padding: 0;
	            margin-top: 10px;
	        }
	        &__content {
	            color: $font-color;
	            @include media("<768px") {
	                padding: 10px 20px;
	                background-color: #f7f4f0;
	                box-shadow: 0 20px 40px -20px rgba(0, 0, 0, .4);
	            }
	        }
	        &__heading {
	            position: relative;
	            border-bottom: 1px solid $bg-blue;
	            &:before,&:after {
	                content: '';
	                position: absolute;
	                bottom: -2px;
	                width: 4px;
	                height: 4px;
	                background-color: $bg-blue;
	                transform: rotate(45deg);
	            }
	            &:before {
	                left: 0;
	            }
	            &:after {
	                right: 0;
	            }
	        }
	        &__title {
	            margin-top: 10px;
	            margin-bottom: 14px;
	            color: $font-color;
	            letter-spacing: 1px;
	            min-width: 100%;
	            @include media('>1300px') {
	            	min-width: 1010px;
	            }
	        }
	        &__subtitle {
	            margin-top: 0;
	            font-size: 18px;
	            letter-spacing: 1px;
	        }
	        &__detail {
	            padding: 20px 0;
	            padding-left: 4px;
	            strong {
	                display: block;
	                margin-top: 20px;
	                color: $font-color;
	                font-weight: 500;
	                letter-spacing: 1px;
	            }
	        }
	        &__info {
	            margin-bottom: 20px;
	            li+li {
	                margin-top: 10px;
	            }
	        }
	        &__badge {
	            display: inline-block;
	            padding: 0 6px;
	            margin-right: 10px;
	            font-size: 18px;
	            letter-spacing: 1px;
	            border:1px solid $bg-blue;
                border-radius: 10px;
				padding: 0 6px;
	        }
	        &__item {
	        	border-bottom: 1px solid #dddddd;
	        	padding-bottom: 1%;
	        	padding-top: 1%;
	        }
        }
        // text on panel footer
        .present--more--text{
		    color: $font-color;
		    font-size: 16px;
		    text-align: center;
		    padding: 6px 0;
        }
        .deco-event1:after{ content: ''; position: absolute; right: 0; bottom:-10%; width: 200px; height: 200px; background: url('../img/event1.png') no-repeat; background-size: 100%;opacity: .5;}
        .deco-event2:after{ content: ''; position: absolute; right: 0; bottom:-10%; width: 200px; height: 200px; background: url('../img/event2.png') no-repeat; background-size: 100%;opacity: .5;}
        // .deco-event3:after{ content: ''; position: absolute; right: 0; bottom:-5%; width: 200px; height: 200px; background: url('../img/event3.png') no-repeat; background-size: 100%;opacity: .5;}
        // .deco-event4:after{ content: ''; position: absolute; right: 0; bottom:-40%; width: 200px; height: 200px; background: url('../img/event-simple-4.png') no-repeat; background-size: 100%;opacity: .5;}
        // .deco-event5:after{ content: ''; position: absolute; right: 0; bottom:-45%; width: 200px; height: 200px; background: url('../img/event-simple-5.png') no-repeat; background-size: 100%;opacity: .5;}
        // .deco-event6:after{ content: ''; position: absolute; right: 0; bottom:-24%; width: 200px; height: 200px; background: url('../img/event6.png') no-repeat; background-size: 100%;opacity: .5;}
        // .deco-event7:after{ content: ''; position: absolute; right: 0; bottom:0%; width: 200px; height: 200px; background: url('../img/event7.png') no-repeat; background-size: 100%;opacity: .5;}
        // .deco-event8:after{ content: ''; position: absolute; right: 0; bottom:-20%; width: 200px; height: 200px; background: url('../img/event8.png') no-repeat; background-size: 100%;opacity: .5;}
        // .deco-event9:after{ content: ''; position: absolute; right: 0; bottom:-10%; width: 200px; height: 200px; background: url('../img/event9.png') no-repeat; background-size: 100%;opacity: .5;}
        .event2-img {
        float: right;
            @include media("<768px") {
                float: none;
                margin-top: 20px;
            }
        }
        .deco-tshirt{ 
			max-width: 250px;
			width: 100%;	
			height: auto;
			display: inline-block;
			margin: 3%;
        }
        .event7-img {
        margin-top: 40px;
            img {
                max-width: 100%;
            }
        }
        .event9-img {
        display: block;
        width: 90%;
        margin: 20px auto 0;
        padding: 20px;
        text-align: center;
            img {
                max-width: 100%;
            }
        }

}