.home--top--bg {
    background-color: $bg-blue;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -99;
    @include media('<768px') {
        display: none;
    }
}

.home--kv {
    margin: 0;
    min-height: 58vh;
    top: 80px;
    padding-top: 0;
    font-family: "Open Sans", "Helvetica Neue", "微軟正黑體", Helvetica, Arial, sans-serif;
    background:url('../img/bg-twinkle2.png') repeat;
    @include media('<768px') {
        top: 50px;
        padding-top: 0;
    }
    @include media('<640px') {
        min-height: 45vh;
    }
    @include media('<480px') {
        min-height: 40vh;
    }
    // &:after {
    //     content: '';
    //     background:url('../img/bg-twinkling.png') repeat;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     animation: twinkling 400s linear infinite;
    // }
    &--wrapper {
        position: relative;
        @include media('<768px') {
            display: none;
        }
    }
    &--mini {
        display: none;
        @include media('<768px') {
            display: block;
        }
        &--bg { position: relative;
        }
        &--logo { filter: drop-shadow(0 0 5px rgb(0, 0, 0)); position: absolute; top: 10%; width: 60%; left: 20%;
            @include media('<768px') {
                display: none;
            }
        }
    }
    &--bg--star--l {
        position: absolute;
        top: 1em;
        width: 70%;
        left: 0;
        z-index: -4;
        animation: float-star01 60s infinite;
    }

    &--bg--star--r {
        position: absolute;
        top: 0;
        width: 80%;
        right: 0;
        z-index: -4;
        animation: float-star02 50s infinite;
    }
    &--bg--cloud {
        background: url('../img/bg-twinkling.png') repeat;
        width: 104%;
        height: 600px;
        left: 0;
        top: -80px;
        position: absolute;
        z-index: -3;
        animation: float-star01 15s alternate infinite;
    }
    &--bg--deco1 {
        position: absolute;
        width: 80%;
        right: -40%;
        top: -200px;
        z-index: -3;
        opacity: 0.9;
    }
    &--bg--deco2 {
        position: absolute;
        width: 90%;
        left: -50%;
        top: -300px;
        z-index: -3;
        opacity: 0.8;
    }
    &--bg--planet--l {
        position: absolute;
        top: 6em;
        width: 5em;
        left: 4em;
    }

    &--bg--planet--r {
        position: absolute;
        top: 3em;
        width: 10em;
        right: 0;
    }
    &--deco--planet--orange {
        position: absolute;
        top: 16em;
        width: 3em;
        left: 4em;
    }
    &--logo {
        position: absolute;
        top: 40px;
        width: 45%;
        left: 27.5%;
        filter: drop-shadow(0 0 0.75rem $font-color-dark-blue);
        z-index: 5;
    }

    &--btn {
        background-color: $font-color-pink;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        position: absolute;
        right: 22%;
        top: 20em;
        line-height: 5.5em;
        color: #ffffff;
        font-size: 20px;
        display: block;
        z-index: 10;
        box-shadow: 5px 5px 2px darken($font-color-pink, 20%);
        &:hover,
        &:focus {
            background-color: lighten($font-color-pink, 5%);
            color: #ffffff;
            transform: translate(2px, 2px);
            box-shadow: 1px 1px 1px darken($font-color-pink, 15%)
        }
        @include media('<768px'){
            width: 90%;
            height: 60px;
            border-radius: 10px;
            right: -5%;
            line-height: 2.2;
            position: relative;
            top: -10px;
        }
    }
}

.home--wave {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 280px;
    @include media('<768px') {
            display: none;
    }
    &--darkhole {
        position: absolute;
        width: 100%;
        left: 5%;
        top: -120%;
        z-index: -3;
    }
    &--bg--wrapper {
        height: 300px;
        width: 100%;
        position: absolute;
        top: 260px;
        left: 0;
        background-color: #ffffff;
        transform: rotate(-6deg);
    }

    &--bgwhite {
        position: absolute;
        background: url('../img/wave.svg') repeat-x;
        width: 6400px;
        height: 185px;
        top: -184px;
        z-index: -1;
        animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        // animation-direction:alternate;
        // -webkit-animation-direction:alternate;
        transform: translate3d(0, 0, 0);
        &:after {
            content:'';
            background-color: #ffffff;
            width: calc(100% + 50px);
            height: 200px;
            position: absolute;
            bottom: -200px;
            right: -50px;
        }
    }

    &--planet--orange {
        position: absolute;
        top: -3em;
        width: 30%;
        right: -4em;
        z-index: -3;
        opacity: 0.9;
    }

    &--deco--r--astronaut {
        position: absolute;
        top: -20px;
        width: 10em;
        right: 10%;
        z-index: 1;
        animation: float-top 5s alternate infinite;
    }

    &--deco--r--shadow {
        position: absolute;
        top: 170px;
        width: 8em;
        right: 10%;
        opacity: 0.6;
        z-index: 1;
        animation: scale-shadow 10s alternate infinite;
    }
    // &--l--rocketbox {
    //     position: relative;
    //     width: 30%;
    //     top: 10%;
    //     left: 18%;
    //     z-index: -2;
    // }
    &--l--rocket {
        position: absolute;
        width: 10%;
        top: 2%;
        left: 20%;
        z-index: -2;
    }
    // &--l--rocket--smoke {
    //     position: absolute;
    //     width: 100px;
    //     top: 8%;
    //     left: 23%;
    //     z-index: -2;
    // }

    &--l--earth {
        position: absolute;
        width: 30%;
        top: 10%;
        z-index: -2;
    }
}

.home--intro {
    margin: 0;
    margin-bottom: -1px;
    padding: 1% 0 16%;
    top: 0;
    @include media('<1460px'){
        padding-bottom: 10%;
    }
    @include media('<1366px'){
        background: #ffffff;
    }
    &--left{
        z-index: 2;
        &--bg {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            &--planet {
                position: absolute;
                z-index: 1;
                width: 16%;
                left: 114px;
                bottom: -108px;
                opacity: 0.8;
                @include media('<1730px'){
                    display: none;
                }
            }
            &--planet2 {
                position: absolute;
                z-index: 1;
                top: 89%;
                left: -9%;
                width: 5%;
                opacity: 0.8;
                @include media('<1730px'){
                    display: none;
                }
            }
        }
        &--cover {
            background: url('../img/home--intro--cover.svg') no-repeat;
            background-size: 101%;
            position: absolute;
            top: -1px;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            @include media('<576px'){
                    display: none;
            }
            &--mini {
                background: url('../img/bg-intro.png') no-repeat;
                background-size: 100%;
                position: absolute;
                top: -1px;
                left: 0;
                width: 100%;
                height: 100vh;
                @include media('<992px'){
                    opacity: 0.15;
                }
                @include media('<667px'){
                    opacity: 0.1;
                    background-size: cover;
                }
            }
        }
    }
    &--right {
        position: relative;
        z-index: 4;
        margin-top: 100px;
    }
}

.mt50-xs {
    @include media('<768px'){
        margin-top: 50px;
    }
}
.home--cfs {
    background-color: #ffffff;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5%;
    z-index: 3;
    // &:before {
    //     content:'';
    //     position: absolute;
    //     top: -200px;
    //     width: 100%;
    //     height: 200px;
    //     background: url('../img/bg-linear.svg') no-repeat;
    //     background-size: cover;
    // }
    &--item {
        text-align: center;

        &--top {
            color: $font-color-pink;
            font-size: 3em;
            font-weight: 500;
            border-bottom: 3px solid $font-color-pink;
            span {
                font-size: 30px;
            }
        }

        &--title {
            line-height: 1.35;
        }
    }

    &--calculate {
        text-align: center;
        margin: 20px auto;
        margin-top: 6%;
    }
}

/* CFS timer */
#timer {
    text-align: center;
    position: relative;
    vertical-align: middle;
    font-size: 2em;

}

#timer .timer-sub {
    margin: 3% 0 3%;
    padding: 6px 12px;
    border-radius: 20px;
}

#timer .timer-sub span { }
/* end CFS timer */

// .home--reason {
//     background-color: $font-color-dark-blue;
// }




.home--reason {
    background-color: $font-color-dark-blue;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #ffffff;
    z-index: 2;
    &--bg--star {
        background: url('../img/footer-bg-star.svg') no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 20%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &--sign1 {
        position: absolute;
        width: 8%;
        top: 1%;
        left: 3%;
    }
    &--sign2 {
        position: absolute;
        width: 10%;
        left: 10%;
        top: 10%;
    }
    &--sign3 {
        position: absolute;
        width: 10%;
        right: 3%;
        top: 4%;
    }
    .title, .sub-title, .title-desc {
        color: #ffffff;
        text-align: center;
    }
    p { color: #ffffff; font-size: 1.4em;}
    &--wrapper {
        @include media('<768px'){
            margin: 3% 1%;
        }
        
    }
    &--lead {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 0.8;
        list-style: none;
        font-size: 2em;
        margin-bottom: 2.2em;
        @include media('<768px'){
                    font-size: 1.6em;
                    margin-bottom: 0.5em;
                }
        .num {
                font-size: 180px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-style: italic;
                color: #ffffff;
                display: inline-block;
                margin: 10px 0;
                @include media('<992px'){
                    font-size: 4em;
                }
        }
    }
    &--disc {
            padding-bottom: 40px;
            display: block;
            margin: 0;
            padding: 0;
            color: #ffffff;
            margin-bottom: -2em;
            &-p {
                font-size: 1.3em;
            }            
    }
    &--star {
        position: relative;
        width: 150%;
        height: 60px;
        bottom: -30%;
        left: -50%;
        filter: drop-shadow(0 0 0.75rem #f4d9a8);
        z-index: -1;
        &.second {
            right: -50%;
            left: 0;
            @include media('<768px'){
                right: 0;
                width: 100%;
            }
        }
        @include media('<768px'){
            bottom: -18%;
            width: 100%;
            left: 0;
        }
    }
}

.home--history {
    background-color: #ffffff;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 5%;
    @include media('<768px'){
        padding-top: 80px;
    }
    .timeline {
        width: 100%;
        position: relative;
        padding: 5% 2% 2%;
        &-nav {
            // display: flex;
            // align-content: center;
            // max-width: 70%;
            // left: 15%;
            position: relative;
            margin-bottom: 2%;
            &__item {
                text-align: center;
                opacity: 0.5;
                background: transparent;
                color: $font-color-dark-blue;
                margin: 15px 25px !important;
                position: relative;
                font-size: 14px;
                line-height: 28px;
                font-weight: 400;
                outline: none;
                cursor: pointer;
                flex: 1;
                &::before {
                    content: "";
                    position: absolute;
                    top: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    background-color: $font-color-dark-blue;
                    transition: .2s;
                }
            }
        }
        // .slick-next, .slick-prev {font-size: inherit; z-index: 9;right:0; top: 30%;}
        // .slick-next:before, .slick-prev:before {
        //     font-size: 60px;
        //     text-shadow: 0 0 8px #333;
        // }
        .slick-control {
            position: absolute;
            top: 30%;
            width: 70%;
            left: 15%;
            font-size: 4em;
            @include media('<768px'){
                width: 100%;
                left: 0;
            }
            .prev{
                display: inline-block;
                opacity: .5;
                transition: all .3s ease;
                text-shadow: 0px 0px 10px #FFF;
                &:hover, &:focus {
                    opacity: 1;
                }
            }
            .next{
                display: inline-block;
                float: right;
                opacity: .5;
                transition: all .3s ease;
                text-shadow: 0px 0px 10px #FFF;
                &:hover, &:focus {
                    opacity: 1;
                }
            }

            .quote-slick-next{
                display: inline-block;
                float: right;
                opacity: .5;
                transition: all .3s ease;
                text-shadow: 0px 0px 10px #FFF;
                &:hover, &:focus {
                    opacity: 1;
                }
            }
            .quote-slick-prev{
                display: inline-block;
                opacity: .5;
                transition: all .3s ease;
                text-shadow: 0px 0px 10px #FFF;
                &:hover, &:focus {
                    opacity: 1;
                }
            }


        }
        
        &-sliderbox {
            height: 100%;
        }
        &-sliderbox-quote {
            height: 100%;
        }
        .slick-list {
            height: 100%;
            overflow: visible;
            @media (min-width: 1080px) {
                padding: 0 180px !important;
            }
        }

        .slick-track {
            height: 100%;
            display: flex;
        }

        &-slide {
            position: relative;
            outline: none;
            margin: 10px 20px;
            height: 100%;
            z-index: 1;
            img {
                max-height: 400px;
                display: block;
                position: relative;
                margin: auto;
                z-index: 1;
                border-top-left-radius: 40% 50%;
                border-top-right-radius: 50% 70%;
                border-bottom-left-radius: 40% 50%;
                border-bottom-right-radius: 50% 70%;
                // border-radius: 40% 50% 80% / 50% 70% 40%;
            }
            &__content {
                position: relative;
                // background: #ffffff;
                width: 90%;
                left: 50%;
                transform: translate(-50%, 0px);
                padding: 20px;
                opacity: 0;
                transition: opacity 0.3s;
                @media (max-width: 500px) {
                    width: 100%;
                }
                h3, p {
                    color: $font-color;
                }
            }
        }

        &-year {
            font-size: 3.5em;
            font-weight: 500;
            color: #4a5be0;
            padding: 5px;
            transition: opacity 0.3s;
            position: relative;
            left: 0;
            opacity: 0;
            margin-top: 3%;
            display: inline-block;
            z-index: 1;
            span {
                font-size: 60%;
            }
        }

        &-title {
            color: orange;
            font-size: 26px;
            line-height: 30px;
            font-weight: 400;
        }

        &-text {
            font-size: 18px;
            line-height: 28px;
            color: #666666;
            &:before {
                content: '';
                position: absolute;
                left: 5px;
                top: -90%;
                background: url('../img/history-bg.svg') no-repeat;
                background-size: 100%;
                width: 100px;
                height: 100px;
                z-index: -1;
            }
        }

        .slick-current {
            &:after {
                background-color: rgba(#ff0000, 0);
            }

            .timeline-year {
                opacity: 1;
            }

            .timeline-slide__content {
                opacity: 1;
            }
        }
    }
}



.home--quote {
    background: #ffffff url('../img/quote-bg-circle.svg') no-repeat center center;
    background-size: 50%;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 5%;
    p { font-size: 1.3em;}
    .carousel-item {
        width: 70%;
        left: 15%;
        padding: 5% 2%;
        h3 {
            line-height: 1.6em;
        }
    }
    .carousel-indicators {
        bottom: -10%;
        li {
            background-color: $font-color-dark-blue;
        }
    } 
    .carousel-control-prev .fa-chevron-left {
        font-size: 3em;
        color: #333333;

    }
    .carousel-control-next .fa-chevron-right {
        font-size: 3em;
        color: #333333;
    }
}


.logowall {

    .logowall--host { margin: 2% 0;
        a { 
            display: block;
            border: 1px solid #ededed;
            padding: 15px;
            margin: 15px;
            flex: 0 0 330px;
            transition: .3s linear;
            &:hover, &:focus { border: 1px solid $font-color-pink; }
        }
    }
    .logowall-title {}
    .logowall--img { min-height: 100px; width: 300px;}

    // lightbox modal
    .modal-content {
        padding-bottom: 20px;
        .close { 
            font-size: 2.5rem;
            padding: .5rem 1rem;
        }
        .logowall--img { margin: 15px; max-width: 300px;}
    }
}

// 中國講師
.home--speaker--cn {
    .speaker--cn--sub--title {
            margin-top: 5px;
            padding: 15px;
        h4 {}
        .title {text-align: left; margin: 10px; }
        .sub-title { font-size: 18px;}
    }
    .speaker--cn--producer {
        padding: 15px;
        background: #f3f3f3;
        border-radius: 20px;
        &--img { border: 5px solid lighten($bg-china,10%); border-radius: 50%; max-width: 140px;}
        &--desc {
            position: relative;
            @include media('<1024px'){text-align: center;}
            &--name { margin-bottom: 5px; font-weight: 500;word-break: break-all;}
            &--sub {}
        }
    }
    .speaker--cn--item {
        padding: 15px;
        text-align: center;
        max-width: 300px;
        &--img { 
            position: relative;
            margin: 0.5em;
            padding: 0px;
            border: 10px solid transparent;
            background: lighten($bg-china,10%);
            border-radius: 50%;
            overflow: hidden;
            transition: 0.3s ease;
            &:hover { border-width: 3px;}
        }
        &--desc {
            position: relative;
            margin-top: 48px;
            &--title { 
            }
            &--name {
                margin-bottom: 5px;
                font-weight: 500;
                background: $bg-china;
                padding: 10px;
                border-radius: 10px;
                position: absolute;
                width: 90%;
                bottom: 48px;
                left: 5%;
                color: #ffffff;
                border: 5px solid lighten($bg-china,10%);
                border-top: 5px solid lighten($bg-china,30%);
                border-bottom: 5px solid darken($bg-china,25%);
            }
            &--sub {}
        }
    }
}

// KEYNOTE
.home--keynote {
    &--a {display: block;}
    .keynote--item {
        display: flex;
        justify-content: center;
        margin: 5% 0 3%;
        border-radius: 10px;
        padding: 10px;
        transition: 0.3s ease;
        @include media('<576px'){
            flex-direction: column;
            background-color: #f3f3f3;
        }
        &:hover { 
            cursor: pointer;
            background: #ebf9ff;
            .keynote--item--desc--btn i {
                transform: translateX(5px);
            }
        }
        
        &--img {
            position: relative;
            margin: 0.5em;
            padding: 10px;
            background: $bg-blue url('../img/bg-planet--l.svg') no-repeat center 100%;
            border-radius: 50%;
            width: 300px;
            height: 300px;
            max-width: 300px;
            flex-basis: 300px;
            overflow: hidden;
            @include media('<576px'){
            margin: 0.5em auto;
            }
            img { 
                border-radius: 50%;
                border: 10px solid transparent;
                transition: 0.3s ease;
                &:hover { border-width: 3px;}
            }
        } // &--img end
        &--tag {
            display: block;
            margin: 10px 0;
            font-weight: 500;
            background: $bg-caramel;
            padding: 6px;
            border-radius: 10px;
            width: 100px;
            text-align: center;
            font-size: 18px;
            color: #ffffff;
            }
        &--desc--name { margin-left: 3%; word-break: break-all;}
        &--desc--sub { margin-left: 3%;}
        &--desc--btn i {
            width: 50px;
            height: 50px;
            line-height: 24px;
            background: #ffffff;
            position: absolute;
            right: 0;
            bottom: 10px;
            border: 3px solid $font-color;
            padding: 10px;
            border-radius: 50px;
            transition: 0.3s ease;
            transform: translateX(0);
        }
        
    }
}

// 講師
.home--speaker{
    &--a {
        display: block;
        &:hover {
            // 與下面class重複
            .speaker--item--img {border-width: 3px;}
            .speaker--item--desc--name {background: lighten($bg-speaker,10%); word-break: break-all;}
        }
    }

    .speaker--sub--title {
            margin-top: 5px;
            padding: 15px;
        h4 {}
        .title {text-align: left; margin-top: 10px;}
        .sub-title { font-size: 18px;}
    }
    .speaker--item {
        display: block;
        padding: 15px;
        text-align: center;
        max-width: 300px;
        &--img { 
            position: relative;
            margin: 0.5em;
            padding: 0px;
            border: 10px solid transparent;
            background: lighten($bg-speaker,10%);
            border-radius: 50%;
            overflow: hidden;
            transition: 0.3s ease;
            cursor: pointer;
            &:hover { border-width: 3px;}
        }
        &--desc {
            position: relative;
            margin-top: 48px;
            &--title { 
            }
            &--name {
                margin-bottom: 5px;
                font-weight: 500;
                background: $bg-speaker;
                padding: 10px;
                border-radius: 10px;
                position: absolute;
                width: 90%;
                bottom: 48px;
                left: 5%;
                color: #ffffff;
                word-break: break-all;
                border: 5px solid lighten($bg-speaker,10%);
                border-top: 5px solid lighten($bg-speaker,30%);
                border-bottom: 5px solid darken($bg-speaker,25%);
                transition: 0.3s ease;
                i {transform: translateX(0);}
                &:hover { 
                    cursor: pointer;
                    background: darken($bg-speaker,10%);
                    border: 5px solid darken($bg-speaker,10%);
                    i {transform: translateX(10px);}
                }
                &.workshop:before {
                    content:'workshop';
                    background-color: $bg-workshop;
                    text-align: center;
                    padding: 6px;
                    font-size: 16px;
                    letter-spacing: .5px;
                    width: 100px;
                    left: -30px;
                    top: -20px;
                    /* transform: rotate(-20deg); */
                    position: absolute;
                    border-radius: 10px;
                }
            }
            &--sub {}
        }
    }
}


.footer {
    position: relative;
    padding-top: 200px;
    padding-bottom: 2%;
    background: darken($bg-blue,30%)  url('../img/bg-twinkle.png') repeat 100% 100%;
    overflow: hidden;
    @include media('<992px'){
        padding-top: 120px;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 101%;
        left: -0.5%;
        height: 198px;
        background: url('../img/footer-wave.svg') no-repeat bottom;
        background-size: cover;
        z-index: 10;
        @include media('<992px'){
            bottom: -98px;
            height: 110px;
            top: -10px;
        }
    }
    &--logo {
        border-bottom: 1px solid lighten($font-color-dark-blue,50%);
        padding-bottom: 2em;
        margin-bottom: 2em;

        img {
            max-width: 22em;
        }
    }
    &--deco--star--l {
        position: absolute;
        width: 50%;
        left: 2%;
        opacity: .7;
        animation: float-star01 60s infinite;
    }
    &--deco--star--r {
        position: absolute;
        width: 50%;
        right: 0;
        top: 8%;
        transform: scale(-1,1);
        animation: float-star02 50s infinite;
        @include media('<992px'){
                animation-play-state: paused;
            }
    }
    &--deco--shine--l {
        position: absolute;
        width: 30%;
        left: 6%;
        bottom: 3%;
        opacity: .7;
    }
    &--deco--shine--r {
        position: absolute;
        width: 30%;
        right: 6%;
        bottom: 3%;
        opacity: .7;
        transform: scale(-1,1);
    }
    &--deco--planet {
        position: absolute;
        width: 35%;
        left: 1%;
        top: 15%;
        opacity: .7;
        animation: float-star01 80s infinite;
        @include media('<992px'){
                animation-play-state: paused;
            }
    }
    &--deco--alien {
        position: absolute;
        width: 7%;
        right: 5%;
        bottom: 40%;
        opacity: .9;
        z-index: 99;
        // animation: bounce 8s ease alternate infinite;
        // -webkit-animation: bounce 8s ease alternate infinite;
        //     @include media('<992px'){
        //         animation-play-state: paused;
        //     }
        &:hover {
            // &:after {
            //     content:'';
            //     position: absolute;
            //     top: 5%;
            //     background: url('../img/');
            // }
        }
    }
    &--desc {
        &--li {
            color: lighten($font-color-dark-blue, 60%);
            a {
                color: lighten($font-color-dark-blue, 60%);
                &:hover ,&:active ,&:focus {
                    color: lighten($font-color-dark-blue, 80%);
                }
            }
        }
    }
    &--fbshare {
        @include media('<768px'){
            display: none;
        }
    }
}