.home--kv {
    margin: 0;
    min-height: 60vh;
    top: 80px;

    &--wrapper {
        position: relative;
    }

    &--bg--star--l {
        position: absolute;
        top: 1em;
        width: 70%;
        left: 0;
        z-index: 2;
        animation: float-star01 60s infinite;
    }

    &--bg--star--r {
        position: absolute;
        top: 1em;
        width: 100%;
        right: 0;
        z-index: -2;
        animation: float-star02 50s infinite;
    }

    &--bg--planet--l {
        position: absolute;
        top: 6em;
        width: 5em;
        left: 4em;
    }

    &--bg--planet--r {
        position: absolute;
        top: 3em;
        width: 10em;
        right: 0;
    }

    &--deco--planet--orange {
        position: absolute;
        top: 16em;
        width: 3em;
        left: 4em;
    }

    &--logo {
        position: absolute;
        top: 40px;
        width: 45%;
        left: 27.5%;
        filter: drop-shadow(0 0 0.75rem $font-color-dark-blue);
        z-index: 5;
    }

    &--btn {
        background-color: $font-color-pink;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        position: absolute;
        right: 22%;
        top: 16em;
        line-height: 5.5em;
        color: #ffffff;
        font-size: 20px;
        display: block;
        z-index: 10;
        box-shadow: 5px 5px 2px darken($font-color-pink, 20%);

        &:hover,
        &:focus {
            background-color: lighten($font-color-pink, 5%);
            color: #ffffff;
            transform: translate(2px, 2px);
            box-shadow: 1px 1px 1px darken($font-color-pink, 15%)
        }
    }
}

.home--wave {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 280px;

    &--darkhole {
        position: absolute;
        width: 70%;
        left: 15%;
        top: -60%;
        z-index: -3;
    }

    &--bg--wrapper {
        height: 300px;
        width: 100%;
        position: absolute;
        top: 260px;
        left: 0;
        background-color: #ffffff;
        transform: rotate(-6deg);
    }

    &--bgwhite {
        position: absolute;
        background: url('../img/wave.svg') repeat-x;
        width: 6400px;
        height: 185px;
        top: -184px;
        z-index: -1;
        animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        // animation-direction:alternate;
        // -webkit-animation-direction:alternate;
        transform: translate3d(0, 0, 0);
        &:after {
            content:'';
            background-color: #ffffff;
            width: calc(100% + 50px);
            height: 200px;
            position: absolute;
            bottom: -200px;
            right: -50px;
        }
    }

    &--planet--orange {
        position: absolute;
        top: -3em;
        width: 30%;
        right: -4em;
        z-index: -3;
        opacity: 0.9;
    }

    &--deco--r--astronaut {
        position: absolute;
        top: -20px;
        width: 10em;
        right: 10%;
        z-index: 1;
        animation: float-top 5s alternate infinite;
    }

    &--deco--r--shadow {
        position: absolute;
        top: 170px;
        width: 8em;
        right: 10%;
        opacity: 0.6;
        z-index: 1;
        animation: scale-shadow 5s alternate infinite;
    }

    &--l--rocket {
        position: absolute;
        width: 10%;
        top: 2%;
        left: 20%;
        z-index: -2;
    }

    &--l--earth {
        position: absolute;
        width: 30%;
        top: 10%;
        z-index: -2;
    }
}

.home--intro {
    background-color: #ffffff;
    margin: 0;
    margin-bottom: -1px;
    padding: 1% 0 5%;
    top: 0;
    min-height: 60vh;
    &--left{
        z-index: 2;
        &--bg {
            // background: #694cca;
            // background: -moz-linear-gradient(left, #8300aa 0%, #342ac8 46%, #342a64 94%);
            // background: -webkit-linear-gradient(left, #8300aa 0%, #342ac8 46%, #342a64 94%);
            // background: linear-gradient(to right, #8300aa 0%, #342ac8 46%, #342a64 94%);
            background: url('../img/home--intro--bg.png') no-repeat;
            background-size: 100%;
            width: 100%;
            min-height: 60vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            @include media('<576px'){
                    display: none;
            }
            &--planet {
                position: absolute;
                z-index: 1;
                width: 13%;
                left: 10%;
                bottom: 3%;
                animation: float-top 5s alternate infinite;
                @include media('<576px'){
                    display: none;
                    animation-play-state: paused;
                }
            }
            &--planet2 {
                position: absolute;
                z-index: 1;
                top: 60%;
                left: 55%;
                width: 10%;
                animation: float-top 5s alternate infinite;
                @include media('<576px'){
                    display: none;
                    animation-play-state: paused;
                }
            }
        }
        &--cover {
            background: url('../img/home--intro--cover.svg') no-repeat;
            background-size: 100%;
            position: absolute;
            top: -1px;
            left: 0;
            width: 100%;
            height: 60vh;
            z-index: 3;
            @include media('<576px'){
                    display: none;
                }
        }
    }
    &--right {
        position: relative;
        z-index: 4;
    }
}

.home--cfs {
    background-color: #ffffff;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    z-index: 3;
    &--item {
        text-align: center;

        &--top {
            color: $font-color-pink;
            font-size: 3em;
            font-weight: 500;
            border-bottom: 3px solid $font-color-pink;
            span {
                font-size: 30px;
            }
        }

        &--title {
            line-height: 1.35;
        }
    }

    &--calculate {
        text-align: center;
        margin: 20px auto;
    }
}

/* CFS timer */
#timer {
    text-align: center;
    position: relative;
    vertical-align: middle;
    font-size: 2em;

}

#timer .timer-sub {
    margin: 3% 0 3%;
    padding: 6px 12px;
    border-radius: 20px;
}

#timer .timer-sub span { }
/* end CFS timer */

// .home--reason {
//     background-color: $font-color-dark-blue;
// }




.home--reason {
    background-color: $font-color-dark-blue;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #ffffff;
    z-index: 2;
    &--bg--star {
        background: url('../img/footer-bg-star.svg') no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 20%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &--sign1 {
        position: absolute;
        width: 8%;
        top: 1%;
        left: 3%;
    }
    &--sign2 {
        position: absolute;
        width: 10%;
        left: 10%;
        top: 10%;
    }
    &--sign3 {
        position: absolute;
        width: 10%;
        right: 3%;
        top: 4%;
    }
    .title, .sub-title, .title-desc {
        color: #ffffff;
        text-align: center;
    }
    p { color: #ffffff; font-size: 1.4em;}
    &--wrapper {}
    &--lead {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 0.8;
        list-style: none;
        font-size: 2em;
        margin-bottom: 2.2em;
        .num {
                font-size: 180px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-style: italic;
                color: #ffffff;
                display: inline-block;
                margin: 10px 0;
        }
    }
    &--disc {
            padding-bottom: 40px;
            display: block;
            margin: 0;
            padding: 0;
            color: #ffffff;
            margin-bottom: -2em;
            &-p {
                font-size: 1.3em;
            }
            
    }
    &--star {
        position: absolute;
        width: 150%;
        height: 60px;
        bottom: -30%;
        left: -50%;
        filter: drop-shadow(0 0 0.75rem #f4d9a8);
        z-index: -1;
        &.second {
            right: -50%;
            left: 0;
        }
    }
}

.home--history {
    background-color: #ffffff;
    margin: 0;
    $white: #fff;
    $black: #000;
    $primary: #003471;
    $gray: #616161;
    $orange: #ff9900;

    .timeline {
        width: 100%;
        position: relative;
        &-nav {
            &__item {
                text-align: center;
                opacity: 0.5;
                background: transparent;
                color: #afc9f6;
                margin: 15px 25px !important;
                position: relative;
                font-size: 14px;
                line-height: 28px;
                font-weight: 400;
                outline: none;
                cursor: pointer;
                &::before {
                    content: "";
                    position: absolute;
                    top: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    background-color: #afc9f6;
                    transition: .2s;
                }
                &.slick-current {
                    color: $orange;
                    opacity: 1;
                    &::before {
                        background-color: $orange;
                    }
                }
            }
        }
        &-slider {
            height: 100%;
        }
        .slick-list {
            height: 100%;
            @media (min-width: 1080px) {
                padding: 0 180px !important;
            }
        }

        .slick-track {
            height: 100%;
        }

        &-slide {
            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            outline: none;
            background-size: auto 400px, cover;
            background-position: top;
            margin: 10px 20px;
            height: 100%;
            min-height: 300px;
            z-index: 1;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($primary, .8);
                z-index: 2;
            }

            &__content {
                z-index: 5;
                position: absolute;
                top: 220px;
                background: #ffffff;
                width: 80%;
                left: 50%;
                transform: translate(-50%, 0px);
                padding: 40px;
                opacity: 0;
                transition: opacity 1s;

                @media (max-width: 500px) {
                    width: 100%;
                    // transform: translate(-50%, 0px);
                }
            }
        }

        &-year {
            z-index: 5;
            font-size: 35px;
            color: #ffffff;
            background: $orange;
            padding: 15px 26px;
            transition: opacity 1.2s;
            position: absolute;
            right: 0;
            opacity: 0;
        }

        &-title {
            color: $orange;
            font-size: 26px;
            line-height: 30px;
            font-weight: 400;
        }

        &-text {
            font-size: 18px;
            line-height: 28px;
            color: #666666;
        }

        .slick-current {
            &:after {
                background-color: rgba($primary, 0);
            }

            .timeline-year {
                opacity: 1;
            }

            .timeline-slide__content {
                opacity: 1;
            }
        }
    }
}



.home--quote {
    background-color: #ffffff;
    margin: 0;

    &:before {
        content: '';
        position: absolute;
        bottom: -198px;
        width: 100%;
        height: 198px;
        background: url('../img/footer-wave.svg') no-repeat bottom;
        background-size: cover;
        z-index: 10;
    }
}


.footer {
    position: relative;
    padding-top: 200px;
    padding-bottom: 2%;
    background-color: $bg-color1;
    overflow: hidden;
    &--logo {
        border-bottom: 1px solid lighten($font-color-dark-blue,50%);
        padding-bottom: 2em;
        margin-bottom: 2em;

        img {
            max-width: 22em;
        }
    }
    &--deco--star--l {
        position: absolute;
        width: 50%;
        left: 2%;
        opacity: .7;
    }
    &--deco--star--r {
        position: absolute;
        width: 50%;
        right: 0;
        top: 8%;
        transform: scale(-1,1);
    }
    &--deco--shine--l {
        position: absolute;
        width: 30%;
        left: 6%;
        bottom: 3%;
        opacity: .7;
    }
    &--deco--shine--r {
        position: absolute;
        width: 30%;
        right: 6%;
        bottom: 3%;
        opacity: .7;
        transform: scale(-1,1);
    }
    &--deco--planet {
        position: absolute;
        width: 35%;
        left: 1%;
        top: 15%;
        opacity: .7;
    }
    &--deco--alien {
        position: absolute;
        width: 7%;
        right: 5%;
        bottom: 40%;
        opacity: .9;
    }
    &--desc {
        &--li {
            color: lighten($font-color-dark-blue, 60%);
            a {
                color: lighten($font-color-dark-blue, 60%);
                &:hover ,&:active ,&:focus {
                    color: lighten($font-color-dark-blue, 80%);
                }
            }
        }
    }
    &--fbshare {
        @include media('<768px'){
            display: none;
        }
    }
}