// job 贊助商與徵才 ModernWeb in Taiwan 結構


.jobs {
	padding: 0;
	margin: 0 0 300px 0;
	position: relative;
	width: 100%;
	&--item {
        background-color: #eeeeee;
        margin: 3% 0 2%;
        border-radius: 10px;
        justify-content: center;
        -ms-flex-pack: center;
        &--brand {
            border-radius: 10px;
            text-align: center;
            margin: 15px;
            img { background-color: #ffffff; border-radius: 10px;}
        }
        &--content {
            background-color: #ffffff;
            padding: 10px 15px;
            margin: 15px;
            border-radius: 10px;
            &--title { 
                &--main { color: inherit;}
                &--sub { color: inherit; margin: 10px 0 20px;}
            }
            &--list {
                margin-top: 4%;
            }
        }
	}
}