.section--preview {
    &-kv {
        margin: 0;
        padding: 0;
        position: relative;
        // overflow-x: hidden;
        background-color: $bg-blue;
        background-image: url(../img/kv-after.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 101%;
        // min-height: 40vh;
        @include media("<992px") { 
            background-size: cover;
            background-color: #ffffff;
            // margin-top: 40px;
        }
        @include media("<768px") {
            background-size: 106%;
            // padding-top: 15%;
            // background: $bg-blue url(../img/content-kv.svg) no-repeat center bottom;
            background-color: #1624dd;
            border: none;
        }

        &__mini {
            display: none;
        }

        &__flight {
            text-align: center;
            position: relative;
            padding: 6% 4% 4%;
            .flight-text {
                font-size: 60px;
                color: #ffffff;
                margin-bottom: 10px;
                position: relative;
                z-index: 1;
                @include media("<768px") {
                    font-size: 45px;
                }

                .flight-text-number {
                    color: #1d27cc;
                    background-color: #dede45;
                    border-radius: 50%;
                    padding: 10px;
                    font-size: 70%;
                    transform: rotate(-15deg);
                    display: block;
                    width: 200px;
                    position: absolute;
                    left: calc(50% - 350px);
                    z-index: -1;
                    top: -35px;
                    &-after {
                        font-size: 50%;
                    }
                    @include media("<768px") {
                        transform: rotate(0deg);
                        position: relative;
                        top: 0;
                        left: calc(50% - 100px);
                        background-color: transparent;
                        color: #ffffff;
                        padding: 0;
                    }
                }

                
                
            }
            .flight-text-thanks {
                font-size: 38px;
                color: #feffcc;
                position: relative;
                @include media("<768px") {
                    font-size: 28px;
                }
            }
            .flight-text-after {
                margin-top: 10px;
                font-size: 30px;
                color: #ff86e2;
                @include media("<768px") {
                    font-size: 26px;
                }
            }

        }
        .kv-head {
            text-align: center;
            position: relative;
            width: 100%;
            color: #ffffff;
            padding: 2% 0 17%;
            @include media("<992px") { padding: 5% 0 20%;}
            @include media("<768px") { padding: 8% 0 22%; min-height: 24vh;}
            .title {
                color: #ffffff;
                text-shadow: 0 0 5px #000;
            }
            .sub-title {
                color: #ffffff;
                text-shadow: 0 0 5px #000;
            }
        }

    }

    &-land {
        padding: 10px 0;
        overflow: visible;
        background-color: #fff;
        margin-top: -2px;
        margin-bottom: 0;
        .land-bg {
            .land-text-cover {
                text-align: center;
                position: relative;
                width: 80%;
                left: 10%;

                .land-text {
                    font-size: 60px;
                    color: #cacaca;
                    margin-left: 10px;
                    max-width: 100%;
                    text-align: center;
                    position: relative;
                    bottom: 120px;
                    width: 38%;
                    &:first-child {
                        width: 450px;
                        @include media("<768px") {
                            -ms-transform: rotate(-3deg);
                            -webkit-transform: rotate(-3deg);
                            transform: rotate(-3deg);
                        }
                    }
                    &:last-child {
                        width: 390px;
                        @include media("<768px") {
                            -ms-transform: rotate(-10deg);
                            -webkit-transform: rotate(-10deg);
                            transform: rotate(-10deg);
                        }
                    }
                }
            }

            .land-text-calc {
                margin-top: 0;
                margin-bottom: 2%;

                .calc-minitext {
                    font-size: 24px;
                    color: #353535;
                    line-height: 2em;
                    text-align: center;
                    @include media("<768px") {
                        font-size: 20px;
                        line-height: 1.8em;
                    }
                }

                .calc-num {
                    font-size: 60px;
                    color: #6ddefe;
                    display: block;
                    margin: 0;
                    @include media("<768px") {
                        font-size: 45px;
                    }
                }
            }

            // .land-rocket {
            //     -ms-transform: rotate(-90deg);
            //     -webkit-transform: rotate(-90deg);
            //     transform: rotate(-90deg);
            //     height: 180px;
            //     position: relative;
            //     top: -80px;
            //     display: inline-block;
            //     overflow: visible;
            //     width: 100%;

            //     @include media('<768px') {
            //         top: 0;
            //     }
            // }

            // .land-rocket-cover {
            //     text-align: center;
            //     display: inline-block;
            //     top: -80px;
            //     width: 18%;

            //     :after {
            //         content: '';
            //         position: absolute;
            //         width: 220px;
            //         height: 80px;
            //         background: url('../img/rocket-shadow.png') no-repeat;
            //         background-size: 100%;
            //         top: 0;
            //         z-index: 99;
            //         //     -ms-transform: rotate(90deg);
            //         // -webkit-transform: rotate(90deg);
            //         // transform: rotate(90deg);
            //     }
            // }
        }
    }

    &-speaker {
        padding: 10px 0;
        position: relative;
        float: left;
        width: 100%;
        margin-top: 0;
        .title { 
            margin: 4% auto 3%;
            font-size: 50px;
            text-align: center;
            letter-spacing: 4px;
            position: relative;
            color: lighten($font-color-pink,25%);
            @include media("<768px") {
                    font-size: 36px;
                }
        }
        .preview-speaker-box {

            // 外層:preview-speaker-box-cover, preview-speaker-box-a
            &-cover {
                text-align: center;

                @include media(">=768px") {
                    width: 20%;
                }
            }

            &-a {
                display: block;
                padding-bottom: 2%;
                cursor: pointer;
            }

            &__head {
                overflow: hidden;
                border-radius: 50%;
                border: 3px solid #6ddefe;
                background-color: #aaaaaa;
                @include media("<576px") {
                    max-width: 80%;
                    margin-left: 10%;
                }
            }

            &__img { width: 100%;}

            &__img:hover ,&__img:active {
                transform: scale(1.05);
            }

            &__name {
                word-wrap: break-word;
            }

            &__title {
                color: #ffffff;
                font-size: 16px;
            }
        }
    }

    &-kv-content {
        margin: 0;
        padding: 0;
        // margin-top: 1000px;

        @include media("<768px") {
            margin: 0;
            padding: 0;
        }

        // 內頁 banner區
        .kv-head {
            overflow: hidden;
            // margin-top: -1000px;
            // &:before { content:''; background-color: #0000002e; width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
            &__bg {
                position: relative;
                margin-top: 90px;
            }

            &__download {
                // background: rgba(24, 4, 47, 1);
                // background: -moz-linear-gradient(top, rgba(83, 45, 125, 0) 0%, rgba(24, 4, 47, 1) 100%);
                // background: -webkit-linear-gradient(top, rgba(83, 45, 125, 0) 0%, rgba(24, 4, 47, 1) 100%);
                // background: linear-gradient(bottom top, rgba(83, 45, 125, 0) 0%, rgba(24, 4, 47, 1) 100%);

                a {
                    display: block;
                }

                &__btn {
                    background-color: transparent;
                    padding: 15px 0;
                    font-size: 18px;
                    letter-spacing: 2px;
                    color: #aaaaaa;
                    border: 0px;
                    margin: 1% 0 1% 2%;
                    border-radius: 0px;
                    width: 46%;
                    float: left;
                    background-color: lighten(#aba1c4,10%);
                    &:hover, &:active {
                        background-color: #ffffff;
                    }
                    @include media("<768px") {
                        width: 100%;
                        margin: 2% 0;
                    }
                }
            }
        }

        .kv-head__title {
            position: fixed;
            margin: 10% auto 0;
            float: left;
            width: 100%;
            z-index: -1;
        }

        .pre-speaker-item {
            padding: 2% 0 1% 0;
            position: relative;
            float: right;
            width: 100%;
            background: rgba(24, 4, 47, 1);
            background: -moz-linear-gradient(top, rgba(24, 4, 47, 1) 0%, rgba(83, 45, 125, 1) 20%, rgba(24, 4, 47, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(24, 4, 47, 1) 0%, rgba(83, 45, 125, 1) 20%, rgba(24, 4, 47, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(24, 4, 47, 1) 0%, rgba(83, 45, 125, 1) 20%, rgba(24, 4, 47, 1) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            margin-bottom: -1%;

            &__row {
                padding: 2%;
            }

            &__head {
                text-align: center;
            }

            &__content {
                text-align: left;
                padding: 0 20px 20px;
                font-size: 18px;
            }

            &__intro {
                padding: 1.5%;
                margin: 5% 0 3% 5px;
                border-left: 5px solid #532d7d;

                &__img-cover {
                    overflow: hidden;
                    max-width: 250px;
                    text-align: center;
                    @include media('<992px') {
                        max-width: 100%;
                        float: none;
                        display: inline-block;
                    }

                    img {
                        border-radius: 50%;
                        display: inline-block;
                        width: 90%;
                    }
                }

                &__desc {
                    padding: 10px;

                    &__name {
                        font-size: 28px;
                        @include media('<992px'){ text-align: center;}
                    }

                    &__p {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &-footer {
        background-color: #18052D;
        margin: 0;
        padding: 1.2% 0 0;
        width: 100%;
    }
}
.preview--bg--content {
    z-index: -9;
    background: #18052D;
}

.preview--bg--content .title span {
    color: #ffffff;
}