// speaker 結構
// .speakers {
// 	.speakers--banner {
// 			img {}
// 		}
// 		.speakers--item {
// 			.speakers--item--head {}
// 			.speakers--item--content {}
// 			.speakers--item--download {
// 				.speakers--item--download--btn {}
// 			}
// 			.speakers--item--intro {
// 				.speakers--item--intro--desc {
// 					.speakers--item--intro--desc--name {}
// 					.speakers--item--intro--desc--p {}
// 				}
// 			}
// 		}
// }
.preButton {
    position: absolute;
    top: 150px;
    left: -10px;
    font-size: 5em;
    border: none;
    color: #bbb;
    background-color: transparent;
    z-index: 9;
}

.nextButton {
    position: absolute;
    top: 150px;
    right: -10px;
    font-size: 5em;
    border: none;
    color: #bbb;
    background-color: transparent;
    z-index: 9;
}

.speakers {
    padding: 0;
    margin: 0 0 300px 0;
    position: relative;
    width: 100%;

    &--banner {
        overflow: hidden;
        background-color: darken($bg-blue, 30%);

        img {
            position: relative;
            margin-top: 80px;
            display: block;
        }

        &:before {
            content: '';
            width: 100%;
            background: darken($bg-blue, 30%) url(../img/content-kv-ban.svg) no-repeat;
            background-size: cover;
            height: 3px;
            position: absolute;
            top: 80px;
            z-index: 1;

            @include media('<992px') {
                top: 77px;
            }
        }
    }

    &--item {
        padding: 2% 15px 1% 15px;
        position: relative;
        width: 100%;
        margin-bottom: -1%;

        &--tag {
            display: block;
            margin: 10px 0;
            font-weight: 500;
            background: $bg-caramel;
            padding: 6px;
            border-radius: 10px;
            width: 100px;
            text-align: center;
            font-size: 18px;
            color: #ffffff;
        }

        &--head {
            text-align: left;

            h3 {
                margin: 20px 0 10px;
            }
        }

        &--content {
            text-align: left;
            padding: 0 20px 20px;
            font-size: 18px;
        }

        &--download {
            width: 100%;

            @include media('<=768px') {
                flex-direction: column;
            }

            &--btn {
                padding: 15px 0;
                font-size: 18px;
                letter-spacing: 2px;
                color: #ffffff;
                border: 0px;
                margin: 1% 0 1% 2%;
                border-radius: 10px;
                background-color: $bg-blue;
                opacity: 0.9;
                transition: .3s ease;

                &:hover,
                &:focus,
                &:active,
                &:visited {
                    background-color: lighten($bg-blue, 10%);
                    color: #ffffff;
                    opacity: 1;
                }
            }
        }

        &--intro {
            padding: 1.5%;
            margin: 5% 0 3% 5px;
            // border-left: 5px solid $bg-blue;
            background-color: #eeeeee;
            border-radius: 20px;

            @include media('<=768px') {
                justify-content: center;
            }

            &--avatar {
                overflow: hidden;
                max-width: 250px;
                text-align: center;

                img {
                    border-radius: 50%;
                    display: inline-block;
                    width: 90%;
                    box-shadow: 0px 3px 5px #929292;
                }

                &--keynote {
                    position: relative;
                    margin: 0.5em;
                    padding: 10px;
                    background: #1c26cc url(../img/bg-planet--l.svg) no-repeat center 100%;
                    border-radius: 50%;
                    width: 300px;
                    height: 300px;
                    max-width: 300px;
                    flex-basis: 300px;
                    overflow: hidden;
                }
            }

            &--desc {
                padding: 10px;

                &--name {
                    font-size: 28px;

                    @include media('<=768px') {
                        text-align: center;
                    }
                }

                &--p {
                    font-size: 18px;
                }
            }
        }
    }
}

.keynote--item--tag {
    display: block;
    margin: 10px 0;
    font-weight: 500;
    background: $bg-caramel;
    padding: 6px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}