body {
    background-color: #fff;
    font-size: 16px;
    color: #333;
    line-height: 30px;
    font-family: '微軟正黑體', '新細明體', Ariel, Helvetica, sans-serif;
}

a {
    color: #15909a;
    text-decoration: none;
}

img {
    margin: 0 auto;
}

.notice {
    font-size: 14px;
    color: #555;
}

.title {
    color: #7c65bf;
    font-size: 6vh;
    font-weight: bold;
}

.title>i {
    color: #e0e0e0;
}

.title-green {
    color: #fff;
    font-size: 6vh;
    font-weight: bold;
    text-shadow: -3px -3px 0 #ff6a1d;
    position: absolute;
    top: -75px;
}

#header>.content>img {
    margin: 0 auto;
}

.btn-defult {
    background-color: #e07515;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    transition: .3s ease-in-out;
}

.btn-defult:hover,
.btn-defult:active {
    background-color: #ec7f1d;
    color: #fbfbfb;
}


/* =====navibar===== */

#navi-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.naviTop-content {
    padding: 5px 20px;
    clear: both;
    background-color: transparent;
    height: 90px;
}

.bg-full {
    background-color: rgba(124, 101, 191, 0.6);
}

.naviTop-logo {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.naviTop-btn {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

.naviTop-btn>li {
    display: inline-block;
    padding: 10px 20px;
    background-color: #271344;
    border: 1px solid #7c65bf;
    transition: .3s ease-in-out;
}

.naviTop-btn>li:hover {
    background-color: #7c65bf;
}

.naviTop-btn>li>a {
    line-height: 18px;
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    font-size: 18px;
}

.naviTop-btn>li:hover>a {
    color: rgba(255, 255, 255, 0.9);
}

.info>.content {
    background-color: #f4f4f4;
}



/* ====hightlight-area===== */

.hightlight {
    display: flex;
}

.hightlight-group {
    width: 34%;
    position: relative;
    text-align: center;
}

.hightlight-group:nth-child(1) {
    background-color: #3469d3;
}

.hightlight-group:nth-child(2) {
    background-color: #ff6a1d;
}

.hightlight-group:nth-child(3) {
    background-color: #a53633;
}

.hightlight-group:before {
    position: relative;
    display: inline-block;
    content: '';
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.hightlight-info {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    clear: both;
    width: 85%;
    padding: 20px 0;
}

.info-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hightlight-text {
    text-align: left;
    padding-left: 20px;
    color: #fff;
    font-weight: bold;
}

.hightlight-text>h2 {
    font-size: 50px;
    margin-top: 0;
}

.hightlight-text>h3 {
    font-size: 30px;
}

.hightlight-icon {
    flex: 0 0 35%;
}




/* ====intro==== */

#intro {
    padding-top: 3%;
    padding-bottom: 2%;
}



/* =====deadline===== */

#deadline {
    padding: 2% 0;
}

.date-group {
    border: 2px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.date-group>h2 {
    font-size: 8vh;
}

.date-group>h4 {
    font-size: 3.5vh;
    color: #7c65bf;
}



/* =====reward===== */

#reward {
    padding-bottom: 3%;
}

.reward-group {
    position: relative;
    width: 100%;
    margin-top: 50%;
}

.circle-info {
    position: absolute;
    z-index: 5;
    top: -50%;
    border-radius: 50%;
    line-height: 1.2;
    width: 100%;
    height: 400px;
    text-align: center;
}

.col-md-4:nth-child(1) .circle-info {
    background-color: #3469d3;
}

.col-md-4:nth-child(2) .circle-info {
    background-color: #ff6a1d;
}

.col-md-4:nth-child(3) .circle-info {
    background-color: #a53633;
}

.circleInfo-text {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    width: 80%;
}

.circleInfo-text span {
    font-size: 60px;
}

.circle-info:before {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}


.reward-intro {
    background-color: #e0e0e0;
    padding: 20px;
    width: 100%;
    height: 350px;
    position: relative;
}

.reward-intro p {
    position: absolute;
    bottom: 20px;
}



/* =====regulation===== */

#regulation {
    padding: 3% 0 10% 0;
}



/* =====review===== */

#review {
    background-color: #ff6a1d;
    position: relative;
    padding: 20px;
    left: 0px;
}

#review:before {
    position: absolute;
    right: 0;
    top: 100%;
    content: '';
    border-top: 12px solid #6651a7;
    border-left: 5px solid #6651a7;
    border-right: 25px solid transparent;
    border-bottom: 3px solid transparent;
}

.gallery-content {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 3% 0;
}


.gallery-btn {
    width: 10%;
}

.gallery-pic {
    width: 70%;
    margin: 0 auto;
}

.btn-left img,.btn-right img {
    opacity: 1;
    transition: .3s ease-in-out;
}

.btn-left:hover img,
.btn-right:hover img {
    opacity: 0.8;
}

.review-btn {
    list-style: none;
    margin: 0;
    padding: 0;
}

.review-btn>li {
    display: inline-block;
    color: #fbfbfb;
}

.review-btn>li>a {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #fff;
    color: #ff6a1d;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.review-btn>li>a:hover {
    background-color: #f2f2f2;
    color: #ccc;
}

/* =====news===== */

#news {
    padding: 3% 0;
}

.news-goup {
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.news-goup:before {
   background-color: #15b6e0;
   position: absolute;
   z-index: -5;
   content: '';
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   transition: .5s ease-in-out;
}

.news-goup:hover:before {
    top: 15px;
    left: 15px;
}

.news-img {
    overflow: hidden;
}

.news-img img {
    transform: scale(1, 1);
    transition: .8s ease-in-out;
}

.news-goup:hover .news-img img {
    transform: scale(1.1, 1.1);
}

.news-title {
    padding: 10px 15px;
    background-color: #fff;
}

/* ======footer====== */

footer>.content {
    background-color: #7c65bf;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 20px;
    padding-right: 20px;
    color: #fbfbfb;
}

.share-btn {
    list-style: none;
    padding: 0;
    margin: 0;
}

.share-btn>li {
    display: inline-block;
}

.share-btn>li+li {
    margin-left: 5px;
}

.share-btn>li>a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #7c65bf;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    transition: .3s ease-in-out;
}

.share-btn>li>a:hover,
.share-btn>li>a:focus,
.share-btn>li>a:active {
    background-color: #fbfbfb;
    color: #e47c0d;
}

@media (max-width: 768px) {
    .content {
        width: 90%;
        margin: 0 auto;
        position: relative;
    }

    footer p {
        text-align: left;
    }

    .hightlight-text>h2 {
        font-size: 3vh;
        margin-top: 0;
    }

    .hightlight-text>h3 {
        font-size: 2vh;
    }

    .info-content {
        display: flex;
        flex-direction: column;
    }

    .hightlight-text {
        text-align: center;
        padding-left: 0px;
    }

    .naviTop-logo {
        width: 80px;
        padding-top: 10px;
    }

    .naviTop-content {
        padding: 5px 20px;
        height: 40px;
    }
        .naviTop-btn>li {
        padding: 5px 10px;
    }

    .naviTop-btn>li>a {
        font-size: 14px;
    }

    .date-group>h2 {
        font-size: 4vh;
    }
    .date-group>h4 {
        font-size: 2.5vh;
    }

    .circleInfo-text {
        font-size: 30px;
    }

    .circleInfo-text span {
        font-size: 50px;
    }
}

@media (min-width: 768px) {
    .content {
        width: 80%;
        margin: 0 auto;
        position: relative;
    }

    .inside-content {
        width: 80%;
        margin: 0 auto;
        position: relative;
    }

    footer p {
        text-align: right;
    }

    .hightlight-text>h2 {
        font-size: 30px;
        margin-top: 0;
    }

    .hightlight-text>h3 {
        font-size: 20px;
    }

    .info-content {
        display: flex;
        flex-direction: column;
    }

    .hightlight-text {
        text-align: center;
        padding-left: 0px;
    }

    .naviTop-logo {
        width: 100px;
        padding-top: 15px;
    }

    .naviTop-content {
        padding: 5px 20px;
        height: 50px;
    }

    .naviTop-btn>li {
        padding: 5px 10px;
    }

    .naviTop-btn>li>a {
        font-size: 15px;
    }

    .date-group>h2 {
        font-size: 5vh;
    }
    .date-group>h4 {
        font-size: 2.5vh;
    }

    .circleInfo-text {
        font-size: 4vh;
    }

    .circleInfo-text span {
        font-size: 5vh;
    }
}

@media (min-width: 968px) {
    .circle-info {
        height: 200px;
        top: -40%;
    }

    .reward-intro {
        height: 250px;
    }

    .circleInfo-text {
        font-size: 3.5vh;
    }

    .circleInfo-text span {
        font-size: 5vh;
    }
    .hightlight-text>h2 {
        font-size: 25px;
        margin-top: 0;
    }

    .hightlight-text>h3 {
        font-size: 15px;
    }
    .info-content {
        display: flex;
        flex-direction: row;
    }

    .hightlight-text {
        text-align: left;
        padding-left: 20px;
    }

    .naviTop-logo {
        width: 150px;
        padding-top: 20px;
    }

    .naviTop-content {
        padding: 5px 20px;
        height: 90px;
    }

    .naviTop-btn>li {
        padding: 10px 20px;
    }

    .naviTop-btn>li>a {
        font-size: 18px;
    }
    .date-group>h2 {
        font-size: 5vh;
    }
    .date-group>h4 {
        font-size: 2.5vh;
    }
}

@media (min-width: 1200px) {
    .circle-info {
        height: 250px;
        top: -50%;
    }

    .reward-intro {
        height: 250px;
    }

    .circleInfo-text {
        font-size: 3.5vh;
    }

    .circleInfo-text span {
        font-size: 5vh;
    }

    .hightlight-text>h2 {
        font-size: 40px;
        margin-top: 0;
    }

    .hightlight-text>h3 {
        font-size: 20px;
    }

    .date-group>h2 {
        font-size: 6vh;
    }
    .date-group>h4 {
        font-size: 2.5vh;
    }
}

@media (min-width: 1500px) {

    .circle-info {
        height: 400px;
    }

    .reward-intro {
        height: 350px;
    }

    .circleInfo-text {
        font-size: 4vh;
    }

    .circleInfo-text span {
        font-size: 6vh;
    }

    .hightlight-text>h2 {
        font-size: 50px;
        margin-top: 0;
    }

    .hightlight-text>h3 {
        font-size: 30px;
    }

    .date-group>h2 {
        font-size: 8vh;
    }
    .date-group>h4 {
        font-size: 3.5vh;
    }
}
