/* 議程表 */

.agenda__t-keynote:hover {
    background: #feffc1;
    cursor: pointer;
    box-shadow: 0px 0px 7px 2px #feffc1b5;
}

.agenda__t-class-name:hover {
    background: #feffc1;
    cursor: pointer;
    box-shadow: 0px 0px 7px 2px #feffc1b5;
}

.modal-body .h3 {
    font-size: 24px;
    color: #321357;
    margin: 20px 0 10px;
    display: block;
}


/* --------------!!!! --------------
   --------------!!!! --------------*/

@media (min-width: 768px) {
    .visible-sm-down {
        display: none !important;
    }
}

@media (max-width:1200px) and (max-width:1023px) {
    .ta {
        width: 70%;
        left: 15%;
    }
    .ta .ta-txt {
        width: 56%;
        left: 23%;
    }
}

@media (max-width:1200px) {
    .section--speaker--china .special .speaker--china__img {
        max-width: 100%;
    }
    .section--workshop,
    .section--ticket,
    .section--spon,
    .section--org,
    .section--buy,
    .section--thx {
        padding-top: 4.5%;
    }
}

@media screen and (max-width:1024px) {
    section {
        overflow: hidden;
    }
    .section--workshop,
    .section--ticket,
    .section--spon,
    .section--org,
    .section--buy,
    .section--thx {
        padding-top: 7%;
    }
    .section--ticket .ticket__item .ticket__item__btn .btn {
        width: 100%;
        font-size: 1em;
        letter-spacing: 1px;
    }
    .section--key .key__title .deco-01 {
        opacity: .3;
        right: 0;
        top: 10%;
        position: absolute;
    }
    .section--history {
        overflow: hidden;
        margin: 3% 0 4% 0;
    }
    /* .section--history:before {
    width: 100%;
    height: 100px;
    left: -5%;
    position: absolute;
    top: -99px;
    background-size: cover;
	}

	.section--history:after {
    width: 100%;
    left: -5%;
    height: 200px;
    position: absolute;
    bottom: -199px;
    background-size: cover;
	} */
}

@media screen and (max-width:767px) {
    .section--kv {
        min-height: 95vh;
        top: 100px;
    }
    .star {
        display: none;
    }
    .ta {
        width: 102%;
        left: -4%;
        top: 40px;
    }
    .ta .ta-txt {
        width: 80%;
        left: 10%;
    }
    .ta .ta-bg {
        opacity: .5;
    }

    .boat__rudder,
    .radar__rotate,
    .bg--star01,
    .bg--star02 {
        -webkit-animation-play-state: paused !important;
        animation-play-state: paused !important;
    }

    .alien,
    .rocket-box,
    .rock {
        display: none;
    }
    .section--key .key__list {
        margin-top: 2%;
    }

    /* menu */
    .navbar-inverse .navbar-header .navbar-toggle .icol-bar-a {
        display: block;
        color: #fFf;
        height: 3px;
        width: 20px;
        margin: 3px 0 0;
        background: #e2c8ff;
    }
    /* .dropdown-menu{display: block; background: transparent; } */
    .hidden-sm-down {
        display: none
    }
    .navbar-inverse .dropdown {
        float: none;
        width: 100%;
    }
    header .navbar-inverse .navbar-nav {
        float: none;
        width: 100%;
        margin: 0;
        overflow-y: visible;
    }
    /* .navbar-inverse .navbar-nav li{ width: 100%;padding-left: 2em;} */
    .navbar-inverse .navbar-nav li a {
        padding: 0.2vh;
    }
    .dropdown-menu.btn .caret {
        display: none;
    }

    /* utili */
    section:not(.section--kv) {
        margin-top: 8%;
        padding-left: 5%;
        padding-right: 5%;
    }
    section .title::before {
        content: '';
        background: url("../img/deco-title.svg") no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        top: -35px;
        left: calc(50% - 10px);
    }

    /* time line */
    .timeline-marker {
        bottom: -28%;
    }
    .timeline-marker:last-child {
        bottom: -6%;
    }

    /* speaker */
    .section--speaker .speaker__item {
        margin: 3% 0 5%;
    }
    .speaker__item:nth-child(2n) .speaker__imgbox {
        float: left;
        right: 0;
        left: 0;
    }
    .speaker__item .speaker__imgbox {
        width: 80%;
        margin: 2% 0 !important;
        left: 10% !important;
    }
    .section--speaker .speaker__item .speaker__imgbox img {
        margin: 0 auto;
    }
    .section--speaker .speaker__item .speaker__imgbox:after {
        left: -2%;
    }
    .section--speaker .speaker__item .speaker__disc {
        text-align: center;
        left: 0;
    }
    .modal.in .modal-dialog {
        height: 110px;
        width: 100%;
    }

    /* speaker china */
    .section--speaker--china .special .deco-special .sp-h4 {
        left: calc(50% - 50px);
    }
    .section--speaker--china .speaker--china--list .speaker-box {
        margin: 5% 0;
    }
    .section--speaker--china .speaker--china--list .speaker-box .speaker-box__name {
        font-size: 20px;
    }
    .section--speaker--china .speaker--china--list .speaker-box .speaker-box__title {
        font-size: 18px;
    }


    .section--quote {
        display: none;
    }

    /* history */
    .section--history {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    /* workshop */
    .section--workshop {
        margin-top: 20%;
    }
    .table-workshop td:first-child {
        min-width: auto;
        font-size: 16px;
        display: none;
    }
    .table-workshop h1,
    .table-workshop h2,
    .table-workshop h3,
    .table-workshop h4,
    .table-workshop h5,
    .table-workshop h6,
    .table-workshop p,
    .table-workshop time {
        margin: 1% 2%;
    }
    .deco-rocket {
        top: 0;
    }

    /* ticket */
    .section--ticket .ticket__item .ticket__item__btn .btn {
        padding: 7px;
        letter-spacing: 2px;
        font-size: 16px;
    }
    .section--ticket .ticket__item {
        text-align: center;
        padding: 20px 1%;
    }
    .section--ticket .ticket__item .ticket__item__title {
        padding: 3px 3px 3px 0;
    }
    .section--ticket .ticket__item .ticket__item__title h3 {
        line-height: 1em;
        font-size: 24px;
    }
    .section--ticket .ticket__item .dot:before {
        top: -10px;
        left: 51%;
    }
    .section--ticket .ticket__item .ticket__item__dot,
    .section--ticket .ticket__item .ticket__item__title,
    .section--ticket .ticket__item .ticket__item__disc,
    .section--ticket .ticket__item .ticket__item__price,
    .section--ticket .ticket__item .ticket__item__btn {
        display: block;
        min-height: auto;
        line-height: 1.8em;
    }
    .section--ticket .ticket__item .ticket__item__price {
        margin: 1%;
        padding: 1%;
        border: none;
    }
    .ticket__item__btn {
        height: auto;
    }
    .section--ticket .ticket__item .ticket__item__title h3 {
        margin-left: 0;
    }
    .section--ticket .ticket__item .dot:before {
        left: calc(50% - 6px);
    }

    /* content page */
    .section--kv--content{
        margin-top: 0px;
        padding-bottom: 2%;
    }

}

@media screen and (max-width:667px) {
    .section--kv {
        min-height: 85vh;
        margin: 3vh 1vh 10vh 1vh;
    }
    .ta {
        top: 2vh;
    }
}

@media screen and (max-width:480px) {
    .table-coverbox {
        overflow: scroll;
    }
    .section--workshop,
    .section--ticket,
    .section--spon,
    .section--org,
    .section--buy,
    .section--thx {
        padding-top: 10.5%;
    }
}

@media screen and (max-width:550px) {
    .section--kv {
        min-height: 80vh;
    }
}

@media screen and (max-width:320px) {
    .section--kv {
        min-height: 80vh;
    }
}