// @include font-face(fontawesome, font/fontawesome);
// @font-face {
// 	font-family: "fontawesome";
// 	src: url("font/fontawesome.eot") format("eot"),
// 		 url("font/fontawesome.woff2") format("woff2"),
// 		 url("font/fontawesome.woff") format("woff"),
// 		 url("font/fontawesome.ttf") format("truetype"),
// 		 url("font/fontawesome.svg#fontawesome") format("svg");
// }
* {
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    position: relative;
    font-family: "Open Sans", "Helvetica Neue", "微軟正黑體", Helvetica, Arial, sans-serif;
	color: $font-color;
	font-size: 15px;
    overflow: hidden;
	@include media("<=768px"){
	min-height: 100%;
    background-color: #ffffff;
	}
}
h1,h2,h3,h4,h5,h6{ color: $font-color; margin: 20px 0 10px;}
h1 { font-size: 36px; margin-bottom: 40px; }
h2 { font-size: 32px;}
h3 { font-size: 30px; line-height: 1.3;}
h4 { font-size: 24px;}
h5 { font-size: 22px; font-weight: 600;}
h6 { font-size: 20px; font-weight: 600;}

	@media screen and(max-width: 767px){
	h1 { font-size: 34px; margin-bottom: 20px; }
	h2 { font-size: 28px; margin: 1%;}
	h3 { font-size: 24px; margin: 1%;}
	h4 { font-size: 20px; margin: 1%;}
	h5 { font-size: 18px; font-weight: 600; margin: 1%;}
	h6 { font-size: 16px; font-weight: 600; margin: 1%;}
	p{ font-size: 14px;}
	}

strong { font-weight: 700; }
p { font-size: 16px; line-height: 1.6; }
p:last-child { margin-bottom: 0px; }
p { color: $font-color; }
ul{list-style: none; line-height: 1.9;}
ul li{ list-style: none;}

a {
    transition: all .3s ease;
    color: $font-color-light-blue;
    &:focus, &:hover{color: lighten($font-color-light-blue,20%); text-decoration:none;}
}

button,
.btn {
    color: $font-color;
    transition: all .3s ease;
    &:focus,
    &hover {
        color: $font-color;
    }
}

section,
header,
nav,
footer {
    position: relative;
}

section {
    padding: 1.2% 1% 80px 0%;
    margin: 3% 0 4% 0;
    @include media("<=767px") {
        padding: 60px 0 1.2% 0;
    }
    .ul { padding-left: 18px;}
    .ul li {
        margin-bottom: 1em;
        &:before {
            content: '•';
            position: absolute;
            font-size: 20px;
            left: 18px;
            line-height: 1.4;
            color: $font-color;
        }
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

nav {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;    
    border-radius: 1px;
    transition: background .2s ease;
    @include media("<=1024px") {
        height: auto;
    }
    @include media(">992px") {
        .navbar-nav .dropdown-menu { left: -.5rem; min-width: 100%;}
        .navbar-nav .dropdown-menu .dropdown-item { padding: 0.45rem 1.5rem;}
    }
    @include media("<992px") {
        .nav-fill .nav-item { width: 100%;}
    }
    .navbar-inverse .navbar-nav { float: right;}
    .navbar-toggler {
        color: #ffffff;
        font-size: 1.6em;
        border: 1px solid #888888;
        padding: 0.4em 0.6em;
    }
    .nav-item {
        max-width: 100px;
        @include media("<992px"){
            max-width: 100%;
        }
    }
}
.navbar-nav .nav-link {
    animation: background .2s ease;
}
.navbar-darken {
    background-color: $font-color-dark-blue;
}
.fixed-top { 
    // background-color: $bg-blue;
    @include media("<992px"){
        background-color: darken($bg-blue,30%);
        min-height: 65px;
    }
}
.navbar--logo { display: none; transition: all .3s ease;}

// scroll menu
.menu--scroll{
    background-color: darken($bg-blue,30%);
    // box-shadow: 0px 3px 8px darken($bg-blue,30%);
    // @include media("<992px"){
    //     background-color: darken($bg-blue,30%);
    // }
    .navbar--logo { display: inline-block;}
}

.navbar--logo {
    width: 160px;
    display: none;
    @include media("<992px"){
        display: block;
    }
    &__img {
        width: 100%;
        
    }
}

// 
.gotop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    color: $font-color-light-blue;
    padding: 3px 10px;
    font-size: 3em;
    border-radius: 0px;
    -moz-border-radius: 3px;
    line-height: 200%;
    text-align: center;
    opacity: 0.8;
    z-index: 998;
    transition: all .3s ease;
}

// 
.loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: $bg-blue;
    z-index: 9999;
    opacity: 1;
    -webkit-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear
}

.loading__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.loading__logo svg {
    width: 100%
}

