// more lighter
$bg-color1: #22073e;
$bg-color2: #331257;
$bg-color3: #d8d0e7;

$font-color: #fff;
$font-color-pu1: #321357;
$font-color-pu2: #531d8d;
$font-color-pu3: #a692da;
$font-color-pu4: #e2c8ff;
$font-color-green: #00afa8;