// more lighter數字越大越亮
$bg-color1: #22073e;
$bg-color2: #1926f8;
$bg-color3: #d8d0e7;
$bg-color4: #aba1c4; //purple with gray
$bg-color5: #e6e1f5; //purple with gray lighting

$font-color: #333333;
$font-color-pu1: #321357;
$font-color-pu2: #531d8d;
$font-color-pu3: #a692da;
$font-color-pu4: #a9e4fe;
$font-color-green: #00afa8;

// ticket
$dot01: #5cd1d0;
$dot02: #4688da;
$dot03: #c17bac;
$dot04: #ba4455;
$dot05: #8199ba;
$dot06: #ba7a5b;
$dot07: #f4e895;
$dot08: #377254;
$dot09: $font-color-pu2;



// Button
.btn--default {
    background: #fff;
    border: 2px solid #531d8d;
    margin-top: 20px;
    min-width: 120px;
    color: #531d8d;
    display: inline-block;
    width: 45%;
    margin: 1%;
    padding: 10px 0;
    font-size: 18px;
}

.btn--default:focus,
.btn--default:hover,
.btn--default:active {
    color: #fff;
    background: #531d8d;
}

.btn-txt {
    color: $font-color-pu2;
}

.btn--buy {
    background: $font-color-pu2;
    color: #fff !important;
}

.btn--stop {
    background: $bg-color4;
    color: #fff !important;
    user-select: none;
    touch-action: manipulation;
    cursor: not-allowed;
}

.btn--undo {
    background: $bg-color3;
    border: 1px solid $bg-color4;
    color: $bg-color4 !important;
    user-select: none;
    touch-action: manipulation;
    cursor: not-allowed;
}


.bg--blue-defult {
    background-color: #1926f8;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#694cca+0,1425f8+54,17bcf5+94 */
background: #694cca; /* Old browsers */
background: -moz-linear-gradient(left, #694cca 0%, #1425f8 54%, #17bcf5 94%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #694cca 0%,#1425f8 54%,#17bcf5 94%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #694cca 0%,#1425f8 54%,#17bcf5 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#694cca', endColorstr='#17bcf5',GradientType=1 ); /* IE6-9 */
}