// more lighter數字越大越亮
$bg-color1: #22073e;
$bg-color2: #1926f8;
$bg-color3: #d8d0e7;
$bg-color4: #aba1c4; //purple with gray
$bg-color5: #e6e1f5; //purple with gray lighting


$font-color-pu1: #321357;

//use this dark blue 
$font-color-dark-blue: #19195e;

// xx
$font-color-pu3: #a692da;

// light blue
$font-color-pu4: #a9e4fe;

$font-color-green: #00afa8;

// 

$font-color: #333333;
$font-color-pink: #e000a9;




// Button
.btn--default {
    background: #fff;
    border: 2px solid #531d8d;
    margin-top: 20px;
    min-width: 120px;
    color: #531d8d;
    display: inline-block;
    width: 45%;
    margin: 1%;
    padding: 10px 0;
    font-size: 18px;
}

.btn--default:focus,
.btn--default:hover,
.btn--default:active {
    color: #fff;
    background: #531d8d;
}

.btn-txt {
    color: $font-color-dark-blue;
}

.btn--buy {
    background: $font-color-dark-blue;
    color: #fff !important;
}

.btn--stop {
    background: $bg-color4;
    color: #fff !important;
    user-select: none;
    touch-action: manipulation;
    cursor: not-allowed;
}

.btn--undo {
    background: $bg-color3;
    border: 1px solid $bg-color4;
    color: $bg-color4 !important;
    user-select: none;
    touch-action: manipulation;
    cursor: not-allowed;
}


.bg--blue-defult {
    background-color: #1926f8;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#694cca+0,1425f8+54,17bcf5+94 */
background: #694cca; /* Old browsers */
background: -moz-linear-gradient(left, #694cca 0%, #1425f8 54%, #17bcf5 94%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #694cca 0%,#1425f8 54%,#17bcf5 94%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #694cca 0%,#1425f8 54%,#17bcf5 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#694cca', endColorstr='#17bcf5',GradientType=1 ); /* IE6-9 */
}



// ************* 2019 theme *************** //
.navbar-darken {
    @include media("<991px") {
        // box-shadow: 0 0 16px #b8a3e4aa;
        background-color: #00064a;
        border-color: #00064a;
        color: #ffffff;
    }
}

.deco-title {
    text-align: center;
    &:before {
        content: '';
        background: url('../img/deco-title.svg') no-repeat;
        background-size: cover;
        width: 140px;
        height: 48px;
        position: absolute;
        top: -58px;
        left: calc(50% - 70px);
    }
}

.deco-sub-title {
    text-align: center;
    margin-top: 9vh;
    font-size: 28px;
    position: relative;
    &:before {
        content: '';
        background: url('../img/deco-sub-title.svg') no-repeat;
        background-size: cover;
        width: 52px;
        height: 25px;
        position: absolute;
        top: -35px;
        left: calc(50% - 26px);
    }
}

.title {
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 4px;
        span {
            font-size: 28px;
            color: $font-color;
            display: block;
            margin: 10px auto 20px auto;
            letter-spacing: 2px;
            font-weight: 200;
        }
    }

.btn-line {
    color: $font-color-pink;
    border: 3px solid $font-color-pink;
    background-color: transparent;
    &:hover, &:focus { color: #ffffff; background-color: $font-color-pink;}
}

.btn-lg {
    padding: 1em 3em;
}

// ************* 2019 theme *************** //