// more lighter數字越大越亮
$bg-color1: #22073e;
$bg-color2: #331257;
$bg-color3: #d8d0e7;
$bg-color4: #aba1c4; //purple with gray
$bg-color5: #e6e1f5; //purple with gray lighting

$font-color: #fff;
$font-color-pu1: #321357;
$font-color-pu2: #531d8d;
$font-color-pu3: #a692da;
$font-color-pu4: #e2c8ff;
$font-color-green: #00afa8;

// ticket
$dot01: #5cd1d0;
$dot02: #4688da;
$dot03: #c17bac;
$dot04: #ba4455;
$dot05: #8199ba;
$dot06: #ba7a5b;
$dot07: #f4e895;
$dot08: #377254;
$dot09: $font-color-pu2;




/*==================================
    TIMELINE
==================================*/
$font-color-pu1-hover: scale-color($font-color-pu3, $lightness: 32%);
    /*-- GENERAL STYLES
    ------------------------------*/
    .timeline {
        line-height: 1.8em;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        color: $font-color-pu1;
        h1, h2, h3, h4, h5, h6, p {
            color: $font-color-pu1;
            margin: 1.5% 1%;
            line-height: 1.5em;
        }
    }

    /*----- TIMELINE ITEM -----*/

    .timeline-item {
        padding-left: 40px;
        position: relative;
        &:last-child {
            padding-bottom: 0;
        }
    }

    /*----- TIMELINE INFO -----*/

    .timeline-info {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
        margin: 0 0 .5em 0;
        text-transform: uppercase;
        white-space: nowrap;
        .num{
            font-size: 180px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-style: italic;
            color: #eaeaeaba;
            display: block;
            margin-top: 60px;
        }
    }
    /*----- TIMELINE MARKER -----*/

    .timeline-marker {
        position: absolute;
        top: 0; bottom: 0; left: 0;
        width: 15px;
        &:before {
            background: $font-color-pu3;
            border: 3px solid transparent;
            border-radius: 100%;
            content: "";
            display: block;
            height: 15px;
            position: absolute;
            top: 4px; left: 0;
            width: 15px;
            transition: background 0.3s ease-in-out,
                    border 0.3s ease-in-out;
        }
        &:after {
            content: "";
            width: 3px;
            background: $font-color-pu3;
            display: block;
            position: absolute;
            top: 24px; bottom: 0; left: 6px;
        }
        .timeline-item:last-child &:after {
            content: none;
        }
    }
    .timeline-item:not(.period):hover .timeline-marker:before {
        background: transparent;
        border: 3px solid $font-color-pu2;
    }

    /*----- TIMELINE CONTENT -----*/

    .timeline-content {
        padding-bottom: 40px;
        p:last-child {
            margin-bottom: 0;
        }
    }

    /*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/

        .timeline-split {
            @media (min-width: 768px) {
                .timeline {
                    display: table;
                }
                .timeline-item {
                    display: table-row;
                    padding: 0;
                }
                .timeline-info,
                .timeline-marker,
                .timeline-content,
                .period .timeline-info {
                    display: table-cell;
                    vertical-align: top;
                }
                .timeline-marker {
                    position: relative;
                }
                .timeline-content {
                    padding-left: 30px;
                }
                .timeline-info {
                    padding-right: 30px;
                }
                .period .timeline-title {
                    position: relative;
                    left: -45px;
                }
            }
        }

    /*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/

        .timeline-centered {
            @extend .timeline-split;
            @media (min-width: 992px) {
                &,
                .timeline-item,
                .timeline-info,
                .timeline-marker,
                .timeline-content {
                    display: block;
                    margin: 0;
                    padding: 0;
                }
                .timeline-item {
                    padding-bottom: 40px;
                    overflow: hidden;
                }
                .timeline-marker {
                    position: absolute;
                    left: 50%;
                    margin-left: -7.5px;
                }
                .timeline-info,
                .timeline-content {
                    width: 50%;
                }
                > .timeline-item:nth-child(odd) .timeline-info {
                    float: left;
                    text-align: right;
                    padding-right: 30px;
                }
                > .timeline-item:nth-child(odd) .timeline-content {
                    float: right;
                    text-align: left;
                    padding-left: 30px;
                }    
                > .timeline-item:nth-child(even) .timeline-info {
                    float: right;
                    text-align: left;
                    padding-left: 30px;
                }
                > .timeline-item:nth-child(even) .timeline-content {
                    float: left;
                    // text-align: right;
                    padding-right: 30px;
                }
                > .timeline-item.period .timeline-content {
                    float: none;
                    padding: 0;
                    width: 100%;
                    text-align: center;
                }
                .timeline-item.period {
                    padding: 6% 0 3%;
                }
                .period .timeline-marker:after {
                    height: 30px;
                    bottom: 0;
                    top: auto;
                }
                .period .timeline-title {
                    left: auto;
                }
            }
        }

    /*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/
        
        .marker-outline {
            .timeline-marker {
                &:before {
                    background: transparent;
                    border-color: $font-color-pu1;
                }
            }
            .timeline-item:hover .timeline-marker:before {
                background: $font-color-pu1;
            }
        }
/*  TIMELINE end */

// modal
.modal-content {
    background-color: $bg-color3;
    border-radius: 0px;
    color: $font-color-pu1;
    margin: 20% auto;
    min-height: 60vh;
    h5{color: $font-color-pu1;}
    p{color: $font-color-pu1;}
    .modal-header {
        border-bottom: 1px solid $bg-color3;
        .close {
            color: $font-color-pu1;
            font-size: 2.5em;
            margin-top: -10px;
        }
    }
    .modal-body{
        text-align: left;
        .modal-title{ margin: 5px auto 8px auto;}
    }
    .tab-content{padding: 10px 5px;
            blockquote{
                margin: 10px 0;
                background: #eee;
                padding: 8px;
                font-size: 16px;
                border-left: none;}
    }
    .list-inline{
        &>li{
            width: 49.5%;
            text-align: center;
            text-decoration: none;
            background: $font-color-pu2;
            color: #ddd;
            .tab {
                display: inline-block;
                color: #fff;
                font-size: 16px;
                padding: 9px 4px 7px;;
                text-decoration: none;
                width: 100%;
            }
            &.active{
                border: 1px solid  $font-color-pu2; 
                border-bottom: none;
                background: $bg-color3;
                .tab{ color:#333; cursor: text;}
            }
        }
    }
    .list-inline>li .active {
        border-bottom: 1px solid #fff;
    }
}
@media screen and (max-width:480px ) {
    .container .modal{
        left: none!important; right:none !important;
    }
}
