
/* Modern Workshop */

.table-workshop {
    background: #d8d1e8;
    color: #321357;
    margin: 0px;
}

.table-workshop td {
    padding: 2%;
}

.table-workshop h1,
.table-workshop h2,
.table-workshop h3,
.table-workshop h4,
.table-workshop h5,
.table-workshop h6,
.table-workshop p,
.table-workshop time {
    color: #321357;
    margin: 0.5%;
}

.table-workshop .work-title {
    margin-top: 10px;
}

.table-workshop .work-sub_title {
    margin-bottom: 10px;
}

.workshop---speaker__name {
    margin: 4px 0;
}

.table-workshop time {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
}

.table-workshop .workshop---speaker__img {
    border-radius: 50%;
    max-width: 120px;
    margin: 0 auto;
}

.table-workshop td:first-child {
    font-size: 20px;
    font-weight: 600;
    min-width: 180px;
}

.workshop-collapsebox {
    min-height: 160px;
    max-width: 450px;
    padding: 0;
}

.workshop-collapse {
    padding: 2.5%;
}

.workshop-collapse.in {
    margin-top: -4px;
}

.section--workshop .table-striped>tbody>tr:nth-of-type(odd) {
    background: #f3eeff;
}

.workshop-disc {
    padding: 8px;
}

.workshop--btn {
    background: #fff;
    border: 0px;
    border-radius: 0px;
    width: 100%;
}

.title-workshop {
    background: #321357;
    color: #fbff48;
    padding: 0px 3px;
    border-radius: 5px;
    margin: 3px 0 5px;
    line-height: 1.5em;
}

.deco-rocket {
    width: 80px;
    height: auto;
    display: inline-block;
    animation: float-top 5s alternate infinite;
    position: absolute;
    top: 13%;
    right: 5%;
}

@keyframes float-top {
    100% {
        transform: translate3d(0, 20px, 0)
    }
}