/*==================================
    TIMELINE
==================================*/

/*-- GENERAL STYLES
    ------------------------------*/
.timeline {
    line-height: 1.8em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 1.5% 1%;
        line-height: 1.5em;
        color: #ffffff;
    }
}

/*----- TIMELINE ITEM -----*/

.timeline-item {
    padding-left: 40px;
    position: relative;

    &:last-child {
        padding-bottom: 0;
    }
}

/*----- TIMELINE INFO -----*/

.timeline-info {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;

    .num {
        font-size: 180px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        color: #eeeeee;
        display: block;
        margin-top: 60px;
    }
}

/*----- TIMELINE MARKER -----*/

.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;

    &:before {
        background: $font-color-light-blue;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px;
        left: 0;
        width: 15px;
        transition: background 0.3s ease-in-out,
            border 0.3s ease-in-out;
    }

    &:after {
        content: "";
        width: 3px;
        background: $font-color-light-blue;
        display: block;
        position: absolute;
        top: 24px;
        bottom: 0;
        left: 6px;
    }

    .timeline-item:last-child &:after {
        content: none;
    }
}

.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid $font-color-light-blue;
}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
    padding-bottom: 40px;

    p:last-child {
        margin-bottom: 0;
    }
}

/*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/

.timeline-split {
    @media (min-width: 768px) {
        .timeline {
            display: table;
        }

        .timeline-item {
            display: table-row;
            padding: 0;
        }

        .timeline-info,
        .timeline-marker,
        .timeline-content,
        .period .timeline-info {
            display: table-cell;
            vertical-align: top;
        }

        .timeline-marker {
            position: relative;
        }

        .timeline-content {
            padding-left: 30px;
        }

        .timeline-info {
            padding-right: 30px;
        }

        .period .timeline-title {
            position: relative;
            left: -45px;
        }
    }
}

/*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/

.timeline-centered {
    @extend .timeline-split;

    @media (min-width: 992px) {

        &,
        .timeline-item,
        .timeline-info,
        .timeline-marker,
        .timeline-content {
            display: block;
            margin: 0;
            padding: 0;
        }

        .timeline-item {
            padding-bottom: 40px;
            overflow: hidden;
        }

        .timeline-marker {
            position: absolute;
            left: 50%;
            margin-left: -7.5px;
        }

        .timeline-info,
        .timeline-content {
            width: 50%;
        }

        >.timeline-item:nth-child(odd) .timeline-info {
            float: left;
            text-align: right;
            padding-right: 30px;
        }

        >.timeline-item:nth-child(odd) .timeline-content {
            float: right;
            text-align: left;
            padding-left: 30px;
        }

        >.timeline-item:nth-child(even) .timeline-info {
            float: right;
            text-align: left;
            padding-left: 30px;
        }

        >.timeline-item:nth-child(even) .timeline-content {
            float: left;
            // text-align: right;
            padding-right: 30px;
        }

        >.timeline-item.period .timeline-content {
            float: none;
            padding: 0;
            width: 100%;
            text-align: center;
        }

        .timeline-item.period {
            padding: 6% 0 3%;
        }

        .period .timeline-marker:after {
            height: 30px;
            bottom: 0;
            top: auto;
        }

        .period .timeline-title {
            left: auto;
        }
    }
}

/*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/

.marker-outline {
    .timeline-marker {
        &:before {
            background: transparent;
            border-color: $font-color-light-blue;
        }
    }

    .timeline-item:hover .timeline-marker:before {
        background: $font-color-light-blue;
    }
}

/*  TIMELINE end */




//* modal
.modal-content {
    background-color: #ffffff;
    border-radius: 10px;
    color: $font-color;
    margin: 20% auto;
    min-height: 60vh;

    h5 {
        color: $font-color;
    }

    p {
        color: $font-color;
    }

    .modal-header {
        border-bottom: none;

        .close {
            color: $font-color;
            font-size: 2.5em;
            margin-top: -10px;
        }
    }

    .modal-body {
        text-align: left;

        .modal-title {
            margin: 5px auto 8px auto;
        }
    }

    .tab-content {
        padding: 10px 5px;

        blockquote {
            margin: 10px 0;
            background: #eee;
            padding: 8px;
            font-size: 16px;
            border-left: none;
            border: 5px dotted #ddd;
        }

        ol,
        ul {
            margin-left: 20px;
        }
    }

    .list-inline {
        &>li {
            width: 49.5%;
            text-align: center;
            text-decoration: none;
            background: $font-color-dark-blue;
            display: inline-block;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            .tab {
                display: inline-block;
                color: #fff;
                font-size: 16px;
                padding: 9px 4px 7px;
                ;
                text-decoration: none;
                width: 100%;
                cursor: pointer;
            }

            &.active {
                border: 1px solid $font-color;
                border-bottom: none;
                background-color: #ffffff;

                .tab {
                    color: #333;
                }
            }
        }
    }

    .list-inline>li .active {
        border-bottom: 1px solid #fff;
    }
}

@media screen and (max-width:480px) {
    .container .modal {
        left: none !important;
        right: none !important;
    }
}

// modal
// modal theme
.section--org .modal-content,
.section--spon .modal-content,
.section--buy .modal-content,
.section--thx .modal-content {
    background: #ffffff;

    .modal-header {}
}

.section--org .img-sponsor:first-of-type {
    padding: 1%;
    margin: auto;
    margin-bottom: 3%;
    max-width: 250px;
}

//* modal end


// Button
.btn--default {
    background: #fff;
    border: 2px solid #531d8d;
    margin-top: 20px;
    min-width: 120px;
    color: #531d8d;
    display: inline-block;
    width: 45%;
    margin: 1%;
    padding: 10px 0;
    font-size: 18px;
}

.btn--default:focus,
.btn--default:hover,
.btn--default:active {
    color: #fff;
    background: #531d8d;
}

.btn-txt {
    color: lighten($font-color-light-blue, 10%);
}

.btn--buy {
    // background: lighten($font-color-light-blue,10%);
    color: #fff !important;
}

.btn--stop {
    background: $bg-blue;
    color: #fff !important;
    user-select: none;
    touch-action: manipulation;
    cursor: not-allowed;
}

.btn--undo {
    background: $bg-blue;
    border: 1px solid $bg-blue;
    color: $bg-blue !important;
    user-select: none;
    touch-action: manipulation;
    cursor: not-allowed;
}




// ************* 2019 theme *************** //


.title {
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 4px;

    @include media("<992px") {
        font-size: 28px;
        letter-spacing: 2px;
    }

    span {
        font-size: 28px;
        color: $font-color;
        display: block;
        margin: 10px auto 20px auto;
        letter-spacing: 2px;
        font-weight: 200;

        @include media("<992px") {
            font-size: 20px;
        }
    }
}

.navbar-darken {
    @include media("<92px") {
        // box-shadow: 0 0 16px #b8a3e4aa;
        background-color: #00064a;
        border-color: #00064a;
        color: #ffffff;
    }
}

.deco-title {
    text-align: center;
    position: relative;
    color: $font-color-dark-blue;
    margin: 80px auto 20px;

    &:before {
        content: '';
        background: url('../img/deco-title.svg') no-repeat;
        background-size: cover;
        width: 140px;
        height: 48px;
        position: absolute;
        top: -58px;
        left: calc(50% - 70px);
    }
}

.deco-title-dk {
    text-align: center;
    margin-top: 50px;
    position: relative;

    &:before {
        content: '';
        background: url('../img/deco-title-dk.svg') no-repeat;
        background-size: cover;
        width: 140px;
        height: 48px;
        position: absolute;
        top: -58px;
        left: calc(50% - 70px);
    }
}

.deco-sub-title {
    text-align: center;
    margin-top: 9vh;
    font-size: 28px;
    position: relative;

    &:before {
        content: '';
        background: url('../img/deco-sub-title.svg') no-repeat;
        background-size: cover;
        width: 52px;
        height: 25px;
        position: absolute;
        top: -35px;
        left: calc(50% - 26px);
    }
}

.btn-line {
    color: $font-color-pink;
    border: 3px solid $font-color-pink;
    background-color: transparent;

    &:hover,
    &:focus {
        color: #ffffff;
        background-color: $font-color-pink;
    }
}

.btn-line-gray {
    color: #909090;
    border: 3px solid #909090;
    background-color: transparent;

    &:hover,
    &:focus {
        color: #ffffff;
        background-color: #909090;
    }
}

.btn-disabled {
    cursor: not-allowed;
    color: #ffffff;
    background-color: #555555;
    border: 3px solid #555555;

    &:hover,
    &:focus {
        color: #ffffff;
    }
}

.btn-lg {
    padding: 1em 3em;
}

.bg--blue--default {
    background-color: $bg-blue;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.highlight {
    color: $font-color-md-blue;
}

.flex-column-sm {
    @include media('<1024px') {
        flex-direction: column;
    }
}

// ************* 2019 theme *************** //