// @mixin clearfix {
//     &::after {
//         content: '';
//         display: table;
//         clear: both;
//     }
// }

// @mixin absCenter {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
// }


/*
0-600px Phone
600-900px Tablet portrait
900-1200px Tablet landscape
1200-1800 is our normal styles apply
1800px + Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
1em=16px

ORDER:base+typography > general layout + grid>page layout >components
*/
// @mixin respond($breakpoint) {
//     @if $breakpoint==phone {
//         @media (max-width: 37.5em) {
//             @content;
//         } //600px
//     }
//     @if $breakpoint==tab-port {
//         @media (max-width: 56.25em) {
//             @content;
//         } // 900px
//     }
//     @if $breakpoint==tab-land {
//         @media (max-width: 75em) {
//             @content;
//         } //1200px
//     }
//     @if $breakpoint==big-desktop {
//         @media (min-width: 112.5em) {
//             @content;
//         } //1800px
//     }
// }



// @mixin whitefont-shadow($x:0,$y:1px,$blur:2px,$color:rgba(0,0,0,0.2)) {
//     text-shadow: 0 1px 2px rgba(0,0,0,0.2);
// }


// @mixin h1 ($sizeValue){
//     color:#fff;
//     font-size: 42px;

// }