

.agenda {
    margin-top: 5%;
    &__title {
        font-size: 48px;
        color: #fff;
        @include media("<768px") {
            font-size: 30px;
        }
        span {
            font-size: 60%;
        }
        &--spacing {
            margin-top: 80px;
        }
    }
    &__table {
        width: 100%;
        background-color: #fff;
        &-td {
            text-align: center;
            vertical-align: top;
            border-bottom: 1px solid #bababa;
            &--vertical-m {
                vertical-align: middle;
            }
            &:first-child {
                width: 12%;
            }
            @include media("<768px") {
                display: block;
                width: 100%;
                border: 0;
                &:first-child {
                    width: 100%;
                }
            }
        }
    }
}

.agenda__t {

	&-head {
		padding:12px 16px;
		font-size: 18px;
		color: $space-color;
		font-weight: 700;
	}
	&-time {
		padding:12px 16px;
		font-size: 18px;
		color: #666;
		background-color: #fff;
		@include media("<768px") {
			padding: 8px 16px;
			background-color: #C9CACA;
		}
	}
	&-rest {
		td {
			padding: 12px 16px;
			font-size: 18px;
			color: #666;
			text-align: center;
			background-color: #C9CACA;
			@include media("<768px") {
				padding: 8px 16px;
				&:last-child {
					background-color: #fff;
				}
			}
		}
		
	}
	&-keynote {
		display: inline-block;
		padding: 24px 16px;
		text-align: center;
		cursor: pointer;
		&-topic {
			margin-bottom: 12px;
			font-size: 24px;
			color: $main-green;
			@include media("<768px") {
				font-size: 18px;
			}
		}
		&-name {
			img {
				width: 40px;
				height: 40px;
				border-radius: 100%;
			}
			div>span {
				display: inline-block;
				margin-left: 8px;
				color: #666;
			}
            >div {
                margin-bottom: 4px;
            }
            >span {
                font-size: 15px;
                color: #666;
            }
		}
	}
	&-track {
		padding: 12px 16px;
		color: $space-color;
		font-weight: 700;
		span {
			font-size: 16px;
			font-weight: 500;
		}
	}
	&-stripe {
		td {
			width: 22%;
			@include media("<768px") {
				width: 100%;
			}
		}
		td:nth-child(2n) {
			background-color: #EFEFEF;
		}
	}
	&-class {
		display: inline-block;
		padding: 20px 16px;
		text-align: center;
		cursor: pointer;
		&-topic {
			margin-bottom: 10px;
			font-size: 18px;
			line-height: 1.5;
			color: $main-green;
		}
		&-name {
			img {
				width: 40px;
				height: 40px;
				border-radius: 100%;
			}
			span {
				display: inline-block;
				margin-left: 8px;
				color: #666;
				font-size: 15px;
			}
		}
		&-track {
			display: none;
			@include media("<768px") {
				display: inline-block;
				font-size: 14px;
				color: #888;
			}
			
		}
	}
}