
//use this dark blue 
$font-color-dark-blue: #19195e;

// high light
$font-color-md-blue: #000fb9;

// light blue
$font-color-light-blue: #a9e4fe;

// theme blue
$bg-blue: #1c26cc;

// speaker tag
$bg-caramel: #ffaf5a;

$bg-skin: #ffecdd;

// speaker china color
$bg-china: #d47349;

// speaker
$bg-speaker: #3844bf;

$bg-workshop: #689243;

$bg-session: #aaaaaa;

$font-color: #333333;
$font-color-pink: #e000a9;
$font-link-color: $bg-blue;